@import "Colors.scss";
:local .button {
    composes: fontRegular from "Fonts.scss";
    width: 55px;
    height: 55px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    &.wide {
        width: 120px;
        height: 45px;
        justify-content: start;
    }
    &.small {
        width: 30px;
        height: 30px;
    }
    &.smaller {
        width: 25px;
        height: 25px;
    }
    &.light {
        background-color: light-background;
        color: dark-color;
        &:hover,
        &.active {
            background-color: light-active-background;
        }
        &:disabled {
            background-color: light-color;
        }
    }
    &.dark {
        background-color: dark-background;
        color: light-color;
        &:hover,
        &.active {
            background-color: dark-active-background;
        }
    }
}
