@{
    ViewBag.Title = "Our Own BabylonJS";
    ViewBag.BabylonJSFolder = "..\\..\\..\\";
}
<div id="loadingInfos"><div class="content">Drag and drop your .babylon files inside, with associated assets</div></div>
<div id="loadingBack" class="loadingBack"></div>
<div id="loadingText" class="loadingText"></div>
<script type="text/javascript">
    $(document).ready(function () {

        var loadingBack = document.getElementById("loadingBack");
        var loadingText = document.getElementById("loadingText");


        var loadingInfos = document.getElementById("loadingInfos");
        loadingInfos.style.height = (OURBABYLON.canvas.height-20)+"px";
        window.addEventListener('resize', function () {
            loadingInfos.style.height = (OURBABYLON.canvas.height - 20) + "px";
        });

        var filesInput = new BABYLON.FilesInput(OURBABYLON.engine, OURBABYLON.currentScene, OURBABYLON.canvas, function (sceneFile, babylonScene) {
            OURBABYLON.sceneInitialization(babylonScene, true);
            loadingBack.className = "loadingBack";
            loadingText.className = "loadingText";
        }, function (evt) {
            if (evt.lengthComputable) {
                loadingText.innerHTML = "Loading, please wait..." + (evt.loaded * 100 / evt.total).toFixed() + "%";
            } else {
                dlCount = evt.loaded / (1024 * 1024);
                loadingText.innerHTML = "Loading, please wait..." + Math.floor(dlCount * 100.0) / 100.0 + " MB already loaded.";
            }
        }, null, null, function () {
            loadingInfos.className = "loadingInfos";
            loadingBack.className = "";
            loadingText.className = "";
            loadingText.innerHTML = "Loading, please wait...";
        });
        filesInput.monitorElementForDragNDrop(OURBABYLON.canvas);
    });
</script>