@font-face {
    font-family: "Sinkin Sans Thin";
    src: url('fonts/SinkinSans/SinkinSans-100Thin.ttf');
    src: url('fonts/SinkinSans/SinkinSans-100Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-100Thin.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-100Thin.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-100Thin.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Thin Italic";
    src: url('fonts/SinkinSans/SinkinSans-100ThinItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-100ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-100ThinItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-100ThinItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-100ThinItalic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans XLight";
    src: url('fonts/SinkinSans/SinkinSans-200XLight.ttf');
    src: url('fonts/SinkinSans/SinkinSans-200XLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-200XLight.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-200XLight.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-200XLight.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans XLight Italic";
    src: url('fonts/SinkinSans/SinkinSans-200XLightItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-200XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-200XLightItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-200XLightItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-200XLightItalic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Light";
    src: url('fonts/SinkinSans/SinkinSans-300Light.ttf');
    src: url('fonts/SinkinSans/SinkinSans-300Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-300Light.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-300Light.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-300Light.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Light Italic";
    src: url('fonts/SinkinSans/SinkinSans-300LightItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-300LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-300LightItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-300LightItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-300LightItalic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Italic";
    src: url('fonts/SinkinSans/SinkinSans-400Italic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-400Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-400Italic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-400Italic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-400Italic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Regular";
    src: url('fonts/SinkinSans/SinkinSans-400Regular.ttf');
    src: url('fonts/SinkinSans/SinkinSans-400Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-400Regular.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-400Regular.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-400Regular.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Medium";
    src: url('fonts/SinkinSans/SinkinSans-500Medium.ttf');
    src: url('fonts/SinkinSans/SinkinSans-500Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-500Medium.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-500Medium.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-500Medium.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Medium Italic";
    src: url('fonts/SinkinSans/SinkinSans-500MediumItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-500MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-500MediumItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-500MediumItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-500MediumItalic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Semi-Bold";
    src: url('fonts/SinkinSans/SinkinSans-600SemiBold.ttf');
    src: url('fonts/SinkinSans/SinkinSans-600SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-600SemiBold.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-600SemiBold.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-600SemiBold.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Semi-Bold Italic";
    src: url('fonts/SinkinSans/SinkinSans-600SemiBoldItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-600SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-600SemiBoldItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-600SemiBoldItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-600SemiBoldItalic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Bold";
    src: url('fonts/SinkinSans/SinkinSans-700Bold.ttf');
    src: url('fonts/SinkinSans/SinkinSans-700Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-700Bold.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-700Bold.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-700Bold.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Bold Italic";
    src: url('fonts/SinkinSans/SinkinSans-700BoldItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-700BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-700BoldItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-700BoldItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-700BoldItalic.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans Black";
    src: url('fonts/SinkinSans/SinkinSans-800Black.ttf');
    src: url('fonts/SinkinSans/SinkinSans-800Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-800Black.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-800Black.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-800Black.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans XBlack";
    src: url('fonts/SinkinSans/SinkinSans-900XBlack.ttf');
    src: url('fonts/SinkinSans/SinkinSans-900XBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-900XBlack.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-900XBlack.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-900XBlack.svg#segeoN') format('svg');
}

@font-face {
    font-family: "Sinkin Sans XBlack Italic";
    src: url('fonts/SinkinSans/SinkinSans-900XBlackItalic.ttf');
    src: url('fonts/SinkinSans/SinkinSans-900XBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/SinkinSans/SinkinSans-900XBlackItalic.woff') format('woff'),
        url('fonts/SinkinSans/SinkinSans-900XBlackItalic.ttf') format('truetype'),
        url('fonts/SinkinSans/SinkinSans-900XBlackItalic.svg#segeoN') format('svg');
}
