html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  cursor: default;
}

ul {
  padding-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3em;
  cursor: pointer;
}
ul li:last-child {
  margin-right: 0;
}

svg {
  left: 0 !important;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container a, .container p, .container li {
  color: black;
  font-family: Sinkin Sans Light;
  font-size: 0.7em;
}
.container .formSend {
  float: right;
  width: 420px;
  height: 55px;
}
.container .formSend button {
  margin-right: 0.7em;
  margin-bottom: 2em;
  margin-top: 1.2em;
  border: 0;
  color: white;
  width: 47%;
  height: 50%;
  border-radius: 1em;
  moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -khtml-border-radius: 1em;
  text-transform: uppercase;
  font-family: "Sinkin Sans Semi-Bold";
  outline: none;
  cursor: pointer;
}
.container .formSend button.grey {
  text-align: left;
  padding-left: 1.5em;
  background-color: #424242;
}
.container .formSend button.blue {
  text-align: right;
  padding-right: 1.5em;
  background-color: #7facc1;
}
.container #Parameters, .container #List {
  overflow: auto;
  width: 25%;
  /*height: 751px;*/
  position: relative;
  float: left;
  margin-left: 1%;
}
.container #Parameters svg, .container #List svg {
  width: 100%;
}
.container #Parameters {
  position: relative;
  margin-right: 1%;
  background-color: #262626 !important;
}
.container #Parameters a {
  margin-left: 3em;
  color: white;
}
.container #Parameters .parametersClass {
  border: 1px white solid;
  margin: 0.9em;
  padding-left: 0.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 2px;
  moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  width: 88%;
}
.container #Parameters .parametersClass a {
  border: 0;
}
.container #Parameters input.parametersClass, .container #Parameters select.parametersClass {
  border: 0;
  padding: 0;
  height: 2em;
  margin-left: 3em !important;
  cursor: pointer;
}
.container #Parameters input.parametersClass {
  width: 70%;
  padding-left: 2em;
  font-family: "Sinkin Sans Light";
}
.container #Parameters select.parametersClass {
  width: 77%;
  text-indent: 1em;
  font-family: "Sinkin Sans Light";
}
.container #Parameters .parametersEditedNode {
    width: 90%;
    margin: 0.9em;
    height: 25px;
}
.container #Parameters .parametersEditedNode a {
    height: 100%;
    text-align: center;
    font-family: "Sinkin Sans Light";
}
.container #Parameters .parametersHelp {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: black;
}
.container #Parameters .parametersHelp a {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.5em;
  padding-bottom: 2em;
  display: block;
  width: auto;
  text-align: left;
  border: 0;
  color: #828282;
  font-style: italic;
  max-height: 95%;
  height: 95%;
}
.container .GraphContainer {
  width: 46%;
  /*height: 751px;*/
  height: 100%;
  max-height: 100%;
  position: relative;
  float: left;
  margin-left: 1%;
}
.container #Graph {
  background: -ms-linear-gradient(top, #262626 0%, #7d7e7d 100%);
  background: linear-gradient(top, #262626 0%, #7d7e7d 100%);
  background: -webkit-linear-gradient(top, #262626 0%, #7d7e7d 100%);
  position: relative;
  overflow: scroll;
  height: 96%;
  width: 100%;
  position: relative;
}

.container #Graph svg {
  overflow: scroll;
  height: 100%;
  display: inline-block;
}

.container #Toolbar {
  margin: 0;
  padding: 0;
  background-color: black;
  padding-top: 1.1%;
  padding-bottom: 1.1%;
}
.container #Toolbar ul {
  padding: 0;
  margin: 0;
  position: relative;
}
.container #Toolbar ul li {
  color: white;
  margin-right: 4em;
}
.container #Toolbar ul li:first-child {
  margin-left: 3em;
}
.container #Toolbar ul li:last-child {
  margin-right: 0;
}
.container #Toolbar ul li.border {
  padding: 0.2em;
  border: 1px solid white;
}
.container #List {
  background-color: #3a3a3a;
  max-height: 95%;
  height: 95%;
}
