html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Segoe WP", "Segoe UI", "Verdana", "Arial";
    background: #a9b5bc;
}

.hidden {
    display: none;
}

#canvasZone {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 56px);   
}

#renderCanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    -ms-touch-action: none;  
    display: block;
}

a {
    color: white;
}

    a:visited {
        color: white;
    }


.footer {
    position: relative;
    width: 100%;
    height: 56px;
    margin: 0;
    padding: 0;
    background-color: #3B789A;
    font-size: 0;
}

.footerRight {
    display: block;
    float: right;
    bottom: 0;
    right: 0px;
    top: 0px;
}

.footerRight a {
    float: left; /* Float links side by side */
    width: 56px; 
    height: 56px;
    margin: 0px;
    padding: 0;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.footerRight a img {
    width: 36px; 
    height: 36px;
    margin: 10px;
}

.footerRight a:hover {
    background-color: #2c5a74; /* Add a hover color */    
}

.footerRight a:active {
    background-color: #162D3A; /* Add a hover color */
}

.custom-upload {
    position: relative;
    background:url(./Assets/Icon_OpenFile.svg) center right no-repeat;
    width: 36px; 
    height: 36px;
    margin: 10px;
}

.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    filter:alpha(opacity=0);
}

#logo {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: url('./Assets/Logo_Fullscreen.svg') no-repeat 0 0;
    background-position: center;
    background-size: 50%;
    pointer-events: none;
}

#droptext {
    position: absolute;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 100%;
    bottom: 5%;    
}
#btnDownArrow {
    position: absolute;
    bottom: 35px;
    right: 30px;
}

#loadingText {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    z-index: 3;
    cursor: default;
    background-color: #3B789A;
}

.loadingText {
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
}

#errorZone {
    display:none;
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 80px;
    background-color: #C73228;
    padding:20px;
    border-radius: 5px;
    color:white;
    font-family: 'Inconsolata';
}
#errorZone button {
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
    font-size: 1.8em;
}


/* animation bar */
#animationBar {
    position: absolute;
    bottom: 0px;
    display: none;
    align-items: center;
    color: white;
    width: calc(100% - 168px);
    min-height: 30px;
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 10;
    align-items: center
}

#animationBar * {
    padding: 0px;
    margin: 0px;
}

#animationBar {
    background-color: #3B789A;
}

#animationBar img {
    width: 36px;
    height: 36px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

#dropdownBtn,
#playBtn {
    display: flex;
    align-items: center;
}

#playBtn {
    border: none;
    background-color: inherit;
}

    #playBtn:hover {
        background-color: #2c5a74; /* Add a hover color */    
    }

    #playBtn:active {
        background-color: #162D3A; /* Add a hover color */
    }

    #playBtn:focus {
        outline: none !important;
        border: none;
    }

#dropdownContent {
    background-color: #3B789A;
}

#dropdownLabel,
#dropdownContent a  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 15px 10px 46px;
}
#dropdownLabel {
    cursor: pointer;
    width: 200px;
    padding: 0px 15px 2px 5px;
}

#dropdownBtn:hover {
    cursor: pointer;
    background-color: #2c5a74;
    transition: all 0.3s ease;
}

#dropdownContent a {
    max-width: 1000px;
    transition: color 0.5s;
}
#dropdownContent a:hover {
    background-color: #2c5a74;
    transition: all 0.3s ease;
}
#dropdownContent a:active {
    background-color: #162D3A;
    transition: all 0.3s ease;
}

#dropdownContent {
    display: none;
    position: absolute;
    bottom: 56px;
    border-bottom: 1px solid white; 
    z-index: 1;
    min-width: 135px;
    width: 200px;
    flex-direction: column;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

#dropdownContent a,
#playBtn {
    cursor: pointer;
}

#chevronUp {
    display: inline;
    margin-right: 0px;
    margin-left: 0px;
}
#chevronDown {
    display: none;
    margin-right: 0px;
    margin-left: 0px;
}

#playBtn.play #pauseImg,
#playBtn.pause #playImg{
    display: none;
}

#slider {
    -webkit-appearance: none;
    cursor: pointer;
    width: 1000px;
    height: 50px;
    outline: none;
    margin-left: 20px;
    background-color: transparent;
}

/*Chrome -webkit */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background: #3B789A;
    margin-top: -10px;
}
#slider::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    background-color: white;
}


/** FireFox -moz */
#slider::-moz-range-progress {
  background-color: white;
  height: 2px; 
}
#slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background: #3B789A;
}
#slider::-moz-range-track {
    background: white;
    height: 2px;
}

/** IE -ms */
#slider::-ms-track {
    height: 2px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 10px 0;

    /*remove default tick marks*/
    color: transparent;
}
#slider::-ms-fill-lower {
    background: white;
    border-radius: 5px;
}
#slider::-ms-fill-upper {
    background: white;
    border-radius: 5px;
}
#slider::-ms-thumb {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    background: #3B789A;
    margin-top: 0px;
}

@media (min-width: 0px) {
    #slider {
        display: none;
    }

    .dropdown {        
        width: 56px;
    }    

    #dropdownLabel {
        display: none;
    }   
    #dropdownContent a {
        max-width: 200px;
    }
}

@media (min-width: 480px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 100px;
    }

    .dropdown {        
        width: 150px;
    }

    #dropdownContent {
        width: 150px;
    }
}

@media (min-width: 768px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 300px;
    }

    .dropdown {        
        width: 200px;
    }

    #dropdownContent {
        width: 200px;
    }
}

@media (min-width: 992px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 700px;
    }
}
