html {
    --background: #2A2342;
    --footer-background: #201936;
    --footer-height: 70px;
    --button-hover-color: #BB464B;
    --button-hover-hover: #e0684b;
    --button-hover-background:  #162D3A;
    --font-size: 20px;
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: var(--font-size);
    background: var(--background);
    font-family: "acumin-pro-condensed";
    font-weight: normal;
}

.hidden {
    display: none !important;
}

#click-interceptor {
    position: absolute;
    width: 100%;
    height: 100%;    
    z-index: 99;
    top:0;
    left:0;
}

#canvasZone {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - var(--footer-height));   
}

#renderCanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    -ms-touch-action: none;  
    display: block;
}

a {
    color: white;
}

a:visited {
    color: white;
}

.footer {
    position: relative;
    width: 100%;
    height: var(--footer-height);
    margin: 0;
    padding: 0;
    background-color:var(--footer-background);
    font-size: 0;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 201px 1fr 210px
}

#logoImg {
    height: var(--footer-height);
    width: 161px;
}

.footerLeft {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding-left: 40px;
    align-content: center; 
    overflow: hidden;
}

.footerRight {
    display: flex;
    flex-direction: row-reverse;
    grid-column: 3;
    grid-row: 1;
}

.footerRight a {
    float: left; /* Float links side by side */
    width: var(--footer-height);
    height: var(--footer-height);
    margin: 0px;
    padding: 0;
    transition: all 0.3s ease; /* Add transition for hover effects */
    display: grid;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}

.footerRight a img {
    width: var(--footer-height);
    height: var(--footer-height);
}

.footerRight a:hover {
    background-color: var(--button-hover-color);
}

.footerRight a:active {
    background-color: var(--button-hover-background);
}

.custom-upload {
    position: relative;
    background:url(./Assets/Icon_OpenFile.svg) center right no-repeat;
    width: var(--footer-height);
    height: var(--footer-height);
}

.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    filter:alpha(opacity=0);
}

#logoContainer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;   
    height: calc(100% - 70px);
    pointer-events: none;
}

#logo {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    pointer-events: none;
}

#droptext {
    position: absolute;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 100%;
    bottom: 50px;    
}
#btnDownArrow {
    position: absolute;
    bottom: 35px;
    right: 30px;
}

#errorZone {
    display:none;
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 80px;
    background-color: #C73228;
    padding:20px;
    border-radius: 5px;
    color:white;
    font-family: 'Inconsolata';
}
#errorZone button {
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
    font-size: 1.8em;
}

/* animation bar */
#animationBar {
    margin-left: 10px;
    display: none;
    align-items: center;
    color: white;
    min-height: 30px;
    height: var(--footer-height);
    background-color: var(--footer-background);    
    grid-column: 2;
    grid-row: 1;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 10;
    align-items: center
}

#animationBar * {
    padding: 0px;
    margin: 0px;
}

#playBtn img {
    width: var(--footer-height);
    height: var(--footer-height);
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
}

#playBtn {
    display: flex;
    align-items: center;
    height: var(--footer-height);
    width: var(--footer-height);
}

.dropdownBtn {
    display: flex;
    height: var(--footer-height);
    width: 200px;
    font-size: var(--font-size);
}

#playBtn {
    border: none;
    background-color: inherit;
}

    #playBtn:hover {
        background-color: var(--button-hover-color);   
    }

    #playBtn:active {
        background-color: var(--button-hover-background);
    }

    #playBtn:focus {
        outline: none !important;
        border: none;
    }

#dropdownContent-env {
    position: absolute;
    bottom: var(--footer-height);
    right: 0px;     
    z-index: 100;
}

#dropdownContent-env div  {
    background-color: var(--button-hover-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: var(--font-size);
    width: calc(2 * var(--footer-height));
    color: white;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}

#dropdownContent-env div:hover {
    background-color: var(--button-hover-hover); 
    transition: all 0.3s ease;
}
#dropdownContent-env div:active {
    background-color: var(--button-hover-background);
    transition: all 0.3s ease;
}

#btnEnvironment.open {
    background-color:var(--button-hover-color); 
}

.dropdownLabel {
    align-self: center;
    justify-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdownContent a  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px 15px 10px 46px;
}

.dropdownBtn:hover {
    cursor: pointer;
    background-color:var(--button-hover-color); 
    transition: all 0.3s ease;
}

.dropdownBtn.open {
    background-color:var(--button-hover-color); 
}

.dropdownContent a {
    max-width: 1000px;
    transition: color 0.5s;
    height: 40px;
    font-size: var(--font-size);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}
.dropdownContent a:hover {
    background-color: var(--button-hover-hover); 
    transition: all 0.3s ease;
}
.dropdownContent a:active {
    background-color: var(--button-hover-background);
    transition: all 0.3s ease;
}

.dropdownContent {    
    background-color: var(--button-hover-color);
    display: none;
    position: absolute;      
    z-index: 100;
    bottom: var(--footer-height);
    min-width: 135px;
    width: 200px;
    max-height: 50vh;
    overflow-y: auto;
    flex-direction: column;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.dropdownContent a,
#playBtn {
    cursor: pointer;
}

.chevronUp {
    margin-right: 0px;
    margin-left: 0px;
    height: var(--footer-height);
    width: var(--footer-height);
}
.chevronDown {
    display: none;
    margin-right: 0px;
    margin-left: 0px;
    height: var(--footer-height);
    width: var(--footer-height);
}

.dropdownLabel {
    cursor: pointer;
    width: 200px;
    padding: 0px 15px 2px 5px;
}


#playBtn.play #pauseImg,
#playBtn.pause #playImg{
    display: none;
}

#slider {
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    max-width: 820px;
    height: var(--footer-height);
    outline: none;
    margin-left: 20px;
    margin-right: 10px;
    background-color: transparent;
}

/*Chrome -webkit */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background: var(--footer-background);
    margin-top: -10px;
}
#slider::-webkit-slider-runnable-track {
    height: 2px;
    -webkit-appearance: none;
    background-color: white;
}


/** FireFox -moz */
#slider::-moz-range-progress {
  background-color: white;
  height: 2px; 
}
#slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    background: var(--footer-background);
}
#slider::-moz-range-track {
    background: white;
    height: 2px;
}

/** IE -ms */
#slider::-ms-track {
    height: 2px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 10px 0;

    /*remove default tick marks*/
    color: transparent;
}
#slider::-ms-fill-lower {
    background: white;
    border-radius: 5px;
}
#slider::-ms-fill-upper {
    background: white;
    border-radius: 5px;
}
#slider::-ms-thumb {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;
    background: var(--footer-background);
    margin-top: 0px;
}
