html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Segoe WP", "Segoe UI", "Verdana", "Arial";
}

.hidden {
    display: none;
}

#renderCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-bottom: 65px;
    touch-action: none;
    -ms-touch-action: none;
}

#fps {
    position: absolute;
    font-size: 30px;
    color: white;
    bottom: 15px;
    right: 85px;
    width: 85px;
}

a {
    color: white;
}

    a:visited {
        color: white;
    }


.footer {
    position: absolute;
    width: 100%;
    height: 56px;
    bottom: 0;
    background-color: #3B789A;
}

.footerRight {
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0px;
    top: 0px;
}

.footerRight a {
    float: left; /* Float links side by side */
    width: 56px; 
    height: 56px;
    margin: 0px;
    padding: 0;
    transition: all 0.3s ease; /* Add transition for hover effects */
}

.footerRight a img {
    width: 48px; 
    height: 48px;
    margin: 4px;
}

.footerRight a:hover {
    background-color: #162D3A; /* Add a hover color */
}

.footerRight a:active {
    background-color: #2c5a74; /* Add a hover color */
}

.custom-upload {
    position: relative;
    background:url(./Assets/Icon_OpenFile.svg) center right no-repeat;
    width: 48px; 
    height: 48px;
    margin: 4px;
}

.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    filter:alpha(opacity=0);
}

#logo {
    width: 100%;
    height: 100%;
    background: url('./Assets/LogoSandbox.png') no-repeat 0 0;
    background-position: center;
}

#btnDownArrow {
    position: absolute;
    bottom: 35px;
    right: 30px;
}

#loadingText {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    z-index: 3;
    cursor: default;
    background-color: #3B789A;
}

.loadingText {
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
}

#errorZone {
    display:none;
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 80px;
    background-color: #C73228;
    padding:20px;
    border-radius: 5px;
    color:white;
    font-family: 'Inconsolata';
}
#errorZone button {
    position: absolute;
    top: 3px;
    right: 10px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .4;
    font-size: 1.8em;
}


/* animation bar */
#animationBar {
    position: absolute;
    bottom: 0px;
    display: none;
    align-items: center;
    color: white;
    font-weight: bold;
    width: calc(100% - 168px);
    bottom: 12px;
    min-height: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 10;
}

#animationBar * {
    padding: 0px;
    margin: 0px;
}

#animationBar #dropdownContent {
    padding: 10px;
    background-color: #3B789A;
}

#animationBar img {
    width: 25px;
    height: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
}

#dropdownBtn,
#playBtn {
    display: flex;
    align-items: center;
}

#playBtn {
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    background-color: inherit;
}

#dropdownLabel,
#dropdownContent a  {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px;    
}
#dropdownLabel {
    cursor: default;
    width: 100px;
}
#dropdownContent a {
    max-width: 1000px;
    transition: color 0.5s;
}
#dropdownContent a:hover {
    color: #162D3A;
}

#dropdownContent {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -10px;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
    min-width: 135px;
}

#dropdownContent a,
#playBtn {
    cursor: pointer;
}

#dropdownContent .active {
    color: #2c5a74;
}

.dropdown:hover #dropdownContent {
    display: flex;
    flex-direction: column;
}

#playBtn.play #pauseImg,
#playBtn.pause #playImg{
    display: none;
}

#slider {
    cursor: pointer;
    -webkit-appearance: none;
    width: 1000px;
    outline: none;
    border-radius: 5px;
    height: 4px; 
    margin-top: 10px;   
}

/*Chrome -webkit */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('Assets/circle.png') no-repeat #3B789A;
    background-size: 100% 100%;
}
#slider::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: white;
    margin-top: -10px;
}


/** FireFox -moz */
#slider::-moz-range-progress {
  background-color: white;
  height: 5px; 
}
#slider::-moz-range-thumb{
    width: 20px;
    height: 20px;
    border: 0;
    background: url('Assets/circle.png') no-repeat #3B789A;
    background-size: 100% 100%;
}

/** IE -ms */
#slider::-ms-fill-lower {
    background-color: white;
    height: 5px; 
  }
#slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    background: url('Assets/circle.png') no-repeat #3B789A;
    background-size: 100% 100%;
}

@media (min-width: 0px) {
    #slider,
    #dropdownLabel {
        display: none;
    }

    #dropdownContent a {
        max-width: 260px;
    }
}

@media (min-width: 576px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 100px;
    }

    #dropdownLabel {
        width: 50px;
    }

    #dropdownContent a {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 300px;
    }

    #dropdownLabel {
        width: 75px;
    }

    #dropdownContent a {
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 400px;
    }

    #dropdownLabel {
        width: 100px;
    }

    #dropdownContent a {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    #slider,
    #dropdownLabel {
        display: initial;
    }
    
    #slider {
        width: 700px;
    }

    #dropdownLabel {
        width: 200px;
    }

    #dropdownContent a {
        max-width: 700px;
    }
}
