
@media (max-width: 768px) {
    html {
        --footer-height: 50px;
        --font-size: 16px;
    }

    .footer {       
        grid-template-columns: 0px 1fr 150px
    }

    .dropdown {        
        width: 100px;
    }

    .dropdownBtn {
        width: 100px;
    }
}