.commands {
    grid-row: 1;
    grid-column: 3;
    display: flex;

    .command-button {
        cursor: pointer;
        width: 55px;

        .command-label {
            display: none;
        }
        
        img {
            filter: invert(57%) sepia(80%) saturate(2031%) hue-rotate(215deg);
            &.active {
                filter: invert(100%);
            }
        }

        &:hover {
            background-color: white;
            img {
                filter: invert(17%) !important;
            }
        } 
        
        &:active {
            transform-origin: center;
            transform: scale(0.95);
        }
    }

    .command-dropdown-root {
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }

    .command-dropdown {        
        cursor: pointer;
        width: 55px;
        height: 55px;

        img {
            filter: invert(57%) sepia(80%) saturate(2031%) hue-rotate(215deg);
            &.active {
                filter: invert(100%);
            }
        }

        &:hover, &.activated {
            background-color: white;
            img {
                filter: invert(17%) !important;
            }
        } 
        
        &:active {
            transform-origin: center;
            transform: scale(0.95);
        }
    }

    .command-dropdown-blocker {
        position: absolute;    
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transform: scale(1);
        z-index: 1;
    }

    .command-dropdown-content {
        position: absolute;
        top: 55px;
        width: 200px;
        transform: scale(1);
        z-index: 100;

        .command-dropdown-label {
            font-family: "acumin-pro-extra-condensed";
            color:white;
            padding: 5px;
            padding-left: 10px;
            height: 35px;
            font-size: 20px;
            display: grid;
            align-items: center;
            cursor: pointer;
            user-select: none;
            grid-template-columns: 1fr 20px;
            grid-template-rows: 100%;

            &:hover {
                background-color: white;
                color: black;

                .sub-items {
                    display: block;
                }
            } 

            .command-dropdown-label-text {
                grid-column: 1;
                grid-row: 1;
            }

            .command-dropdown-label-check {
                grid-column: 2;
                grid-row: 1;
            }

            .sub-items {
                position: absolute;
                left: 200px;
                top: 0;
                width: 150px;
                background: white;
                display: none;        
    
                &.background-js {
                    .sub-item {                      
                        &:hover {
                            background-color: #3f3461;
                        }
                    }
                }   
                                    
                .sub-item {                      
                    font-family: "acumin-pro-extra-condensed";
                    color:black;
                    padding: 5px;
                    padding-left: 10px;
                    height: 35px;
    
                    &:hover {
                        color: white;
                    } 
                }
            }            
        }
    }

}