#examples {    
    grid-row: 2;
    grid-column: 3;
    position: absolute;
    top:55px;
    right: 0;
    bottom: 35px;
    background: white;
    transform: translateX(380px);
    opacity: 0;
    transition: all 0.2s ease;

    &.visible {
        transform: translateX(0);
        opacity: 1;
    }

    width: 380px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px 60px calc(100% - 120px);
    overflow: hidden;

    #examples-header {
        grid-row: 1;
        grid-column: 1;
        background: #201936;
        color:white;
        font-size: 24px;
        display: grid;
        align-content: center;
        justify-content: center;
    }
    
    #examples-filter {
        grid-row: 2;
        grid-column: 1;        
        display: grid;
        align-content: center;
        justify-content: center;

        #examples-filter-text {
            border: none;
            padding: 0;
            border-bottom: solid 1px #337ab7;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #337ab7 4%);
            background-position: -1000px 0;
            background-size: 1000px 100%;
            background-repeat: no-repeat;
            color: black;
            width: 250px;

            &:focus {
                outline: none;
            }
        }
    }

    #examples-list {
        padding: 5px;
        overflow-y: auto;
        grid-row: 3;
        grid-column: 1;
        user-select: none;
        height: calc(100vh - 210px);

        .example-category { 
            .example-category-title { 
                background: #3F3361;
                margin: 10px 0;
                color: white;   
                font-size: 22px;
                height: 60px;
                display: grid;
                align-content: center;
                justify-content: center;
            }

            .example {
                margin-bottom: 10px;
                background: #ebebeb;
                display: grid;
                height: 125px;
                grid-template-columns: 125px 1fr;
                grid-template-rows: 40px 60px 25px;
                cursor: pointer;

                &:hover {
                    outline: #3F3361 solid 2px;
                }

                &:active {
                    transform: scale(0.95);
                }

                img {                    
                    grid-row: 1 / 4;
                    grid-column: 1 / 3;
                }

                .example-title {
                    grid-row: 1;
                    grid-column: 2;
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 10px;
                }

                .example-description {
                    grid-row: 2;
                    grid-column: 2;
                    font-size: 14px;
                    margin-left: 10px;
                }
                
                .example-link {
                    grid-row: 3;
                    grid-column: 2;
                    font-size: 14px;
                    margin-left: 10px;
                    text-decoration: underline;
                    color: #BB464B;
                }
            }
       }  
    }
}

@media screen and (max-width: 1024px) {
    #examples {
        top: 40px;

        #examples-list {
            height: calc(100vh - 195px);
        }
    }
}
