#footer {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 3;
    padding: 0;
    margin: 0;
    line-height: 100%;
    display: grid;
    grid-template-columns: 35px 1fr auto 80px;
    grid-template-rows: 100%;

    .modeBar {        
        grid-row: 1;
        grid-column: 1;
        cursor: pointer;

        .link {
            svg {
                height: 35px;
                width: 35px;
            }
        }
    }
   
    #statusBar {
        grid-row: 1;
        grid-column: 2;
        color: #E74C3C;
        font-size: 14px;
        padding-left: 20px;
        &.languageTS {
            color: #3f3461;

            .links .link a:hover {
                background-color: white;
                color: #bb464b;
            }
        }
    }
            
    .links {
        height: 100%;
        grid-row: 1;
        grid-column: 3;      
    }

    .fps {        
        grid-row: 1;
        grid-column: 4;
        display: grid;
        align-content: center;
        justify-content: center;
        color:white;
        font-size: 16px;
    }

    .link {
        display: inline-block;
        width: 55px;
        height: 100%;
        
        svg {
            fill: white;
            height: 16px;
            width: 16px;
        }

        &:hover {
            background-color: white;
            svg {
                fill: #3f3461;
            }
        }

        a {
            height: 100%;
            width: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
        }
    }
}