.hamburger-button {
    grid-row: 1;
    grid-column: 1;
    width: 40px;
    color:white;
    cursor: pointer;
    transform: scale(1);
    
    &:hover {
        background-color: white;
        svg {
            fill: black;
        }
    } 
    
    &:active {
        transform-origin: center;
        transform: scale(0.95);
    }

    svg {
        fill: white;
    }
}

.click-blocker {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    background: transparent;
    transform: scale(1);
}

.hambuger-menu {
    grid-row: 1 / 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    top:40px;
    height: calc(100% - 70px);
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.2s ease;

    &.background-ts {
        .command-button, .command-dropdown  {
            img {
                filter: invert(64%) sepia(78%) saturate(940%) hue-rotate(323deg) brightness(105%) contrast(103%);
            }

            &:hover, &.activated {
                img {
                    filter: invert(34%) sepia(21%) saturate(3832%) hue-rotate(324deg) brightness(88%) contrast(82%) !important;
                }
            } 
        }
    }

    &.background-js {
        .command-button, .command-dropdown  {
            img {
                filter: invert(57%) sepia(80%) saturate(2031%) hue-rotate(215deg);
            }

            &:hover, &.activated {
                img {
                    filter: invert(17%) !important;
                }
            } 
        }
    }    

    &.expanded {
        transform: translateX(0);
        opacity: 1;
    }

    .command-button {
        cursor: pointer;
        width: 200px;
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 100%;

        .command-label {
            color: white;
            grid-column: 2;
            grid-row: 1;
            align-self: center;
            text-transform: uppercase;
            font-family: "acumin-pro-extra-condensed";
        }
        
        img {
            grid-column: 1;
            grid-row: 1;

            &.active {
                filter: invert(100%);
            }
        }

        &:hover {
            background-color: white;            
            .command-label {
                color: black;
            }
        } 
        
        &:active {
            transform-origin: center;
            transform: scale(0.95);
        }
    }
}