#pg-root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "acumin-pro-condensed";
    font-weight: normal;    
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 55px 1fr 35px;
}

#pg-root-frame {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "acumin-pro-condensed";
    font-weight: normal;    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 35px;
}

#pg-root-full {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "acumin-pro-condensed";
    font-weight: normal;    
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

#pg-split {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    grid-row: 2;
    grid-column: 1 / 3;
    overflow: hidden;

    .pg-split-part {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;         
    }

    .gutter.gutter-horizontal {
        background-image: none;
        background: #444444;
        cursor: col-resize;
    }
}

.hidden {
    display: none;
}

.background-ts {
    background-color: #bb464b;

    .sub1 {
        background-color:#e0684b
    }
}

.background-js {
    background-color: #3f3461;

    .sub1 {
        background-color:#9379e6
    }
}

@media screen and (max-width: 1024px) {
    #pg-root {
        grid-template-rows: 40px 1fr 35px;
    }
}
