.qr-code {
    position: absolute;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    bottom: 0px;
    right: calc(50% - 150px);
    width: 300px;
    height: 300px;
    z-index: 100;
    display: grid;    
    align-content: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}