#logo-part {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    align-items: center;
    justify-items: center;
}

#wait-ring {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: grid;    
    align-content: center;
    justify-content: center;
    background: #201936;    
}

#waitLogo {
    grid-column: 1;
    grid-row: 1;
    width: 150px;
    height: 150px;
}

#waitSpinner {
    width: 300px;
    height: 300px;
    grid-column: 1;
    grid-row: 1;
    -webkit-animation: spin1 0.5s infinite linear;
    -moz-animation: spin1 0.5s infinite linear;
    -o-animation: spin1 0.5s infinite linear;
    -ms-animation: spin1 0.5s infinite linear;
    animation: spin1 0.5s infinite linear;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-webkit-keyframes spin1 {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin1 {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin1 {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin1 {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}