html {
    --background: #2A2342;
    --footer-background: #201936;
    --footer-height: 70px;
    --button-hover-color: #BB464B;
    --button-hover-hover: #e0684b;
    --button-hover-background:  #162D3A;
    --font-size: 20px;
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: var(--font-size);
    background: var(--background);
    font-family: "acumin-pro-condensed";
    font-weight: normal;    
}

.hidden {
    display: none !important;
}

#droptext {
    position: absolute;
    text-align: center;
    color: #fff;
    height: 50px;
    width: 100%;
    bottom: 50px;    
}

#logoContainer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;   
    height: calc(100% - 70px);
    pointer-events: none;
}

#logo {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    pointer-events: none;
}