dist
tmp
temp
.temp
.tempChromeCanaryProfileForDebug
.tempChromeProfileForDebug
node_modules
.idea
.tsbuildinfo
.snapshot
generated
src/[Ss]haders/**/*.ts
*.tsbuildinfo
.rollup.cache
# second-level package-json should not be commited
**/package-lock.json
**/*.vertex.ts
**/*.fragment.ts
*.compute.ts
**/ShadersInclude/**/*.ts
shaders/**/*.ts
**/[Ss]haders/**/*.ts
**/[Ss]hadersInclude/**/*.ts
**/[Ss]hadersWGSL/**/*.ts
jest-screenshot-report/
junit.xml
.env
*.pem
packages/tools/babylonServer/public/localDev
packages/tools/babylonServer/public/localDevWebGPU
packages/tools/playground/public/temp
#playwright
test-results
playwright-report
playwright/.cache/
.nx
.DS_Store

# generated Smart Filter block TS files
**/*.block.ts

# Smart Filters publish their src files - we copy them during the build - ignore them
packages/public/@babylonjs/smart-filters/src
packages/public/@babylonjs/smart-filters-blocks/src

# Smart Filters Editor files
packages/tools/smartFiltersEditor/www/scripts/**
packages/tools/smartFiltersEditor/www/index.html