{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2020",
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "react": {
                "runtime": "automatic"
            }
        },
        "externalHelpers": false,
        "keepClassNames": true
    },
    "module": {
        "type": "es6",
        "noInterop": true
    },
    "sourceMaps": true,
    "inlineSourcesContent": true
}
