<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="v8.redist-v141-x64" version="7.4.288.26" targetFramework="native" />
  <package id="v8.redist-v141-x86" version="7.4.288.26" targetFramework="native" />
  <package id="v8.symbols-v141-x64" version="7.4.288.26" targetFramework="native" />
  <package id="v8.symbols-v141-x86" version="7.4.288.26" targetFramework="native" />
  <package id="v8-v141-x64" version="7.4.288.26" targetFramework="native" />
  <package id="v8-v141-x86" version="7.4.288.26" targetFramework="native" />
</packages>