<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/text" />-->
      <mimeMap fileExtension=".hdr" mimeType="application/hdr" />
      <mimeMap fileExtension=".obj" mimeType="application/obj" />
      <mimeMap fileExtension=".dds" mimeType="application/dds" />
      <mimeMap fileExtension=".tga" mimeType="application/tga" />
      <mimeMap fileExtension=".fx" mimeType="application/fx" />
      <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
      <mimeMap fileExtension=".babylonmeshdata" mimeType="application/babylonmeshdata" />
      <mimeMap fileExtension=".babylonbinarymeshdata" mimeType="application/babylonbinarymeshdata" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".wdp" mimeType="image/vnd.ms-photo" />
      <!--<mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />-->
      <!--<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />-->
      <!--<mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />-->
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mp4" />-->
    </staticContent>
  </system.webServer>
</configuration>
