#propertyTab {
    $line-padding-left: 5px;
    color:white;
    background: #333333;

      #header {
        height: 30px;
        font-size: 16px;
        color: white;
        background: #222222;
        grid-row: 1;
        text-align: center;
        display: grid;
        grid-template-columns: 30px 1fr;        
        -webkit-user-select: none; 
        -moz-user-select: none;   
        -ms-user-select: none;    
        user-select: none;                

        #logo {
            position: relative;
            grid-column: 1; 
            width: 24px;
            height: 24px;
            left:0;
            display: flex;
            align-self: center;   
            justify-self: center;
        }        

        #title {
            grid-column: 2; 
            display: grid;
            align-items: center;   
            text-align: center;
        }
    }

    .range {
        -webkit-appearance: none;
        width: 120px;
        height: 6px;
        background: #d3d3d3;
        border-radius: 5px;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .range:hover {
        opacity: 1;
    }
    
    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: rgb(51, 122, 183);
        cursor: pointer;
    }
    
    .range::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: rgb(51, 122, 183);
        cursor: pointer;
    }

    input[type="color"] {
        -webkit-appearance: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0;
        width: 30px;
        height: 20px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
        border: none;
    }

    .sliderLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr auto;

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .slider {
            grid-column: 2;
            margin-right: 5px;
            
            display: flex;
            align-items: center;
        }                    
    }     

    .textInputLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 120px;

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .value {                        
            display: flex;
            align-items: center;
            grid-column: 2;
            
            input {
                width: calc(100% - 5px);
            }
        }
    }
    
    .paneContainer {
        margin-top: 3px;
        display:grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        
        .paneList {
            border-left: 3px solid transparent;
        }

        &:hover {  
            .paneList {                      
                border-left: 3px solid rgba(51, 122, 183, 0.8);
            }

            .paneContainer-content {
                .header {
                    .title {   
                        border-left: 3px solid rgb(51, 122, 183);
                    }
                }
            }
        }
        
        .paneContainer-highlight-border {
            grid-row: 1;
            grid-column: 1;
            opacity: 1;
            border: 3px solid red;
            transition: opacity 250ms;
            pointer-events: none;
            
            &.transparent {
                opacity: 0;
            }
        }

        .paneContainer-content {
            grid-row: 1;
            grid-column: 1;

            .header {
                display: grid;
                grid-template-columns: 1fr auto;
                background: #555555;    
                height: 30px;   
                padding-right: 5px;                        
                cursor: pointer;
                
                .title {                                
                    border-left: 3px solid transparent;
                    padding-left: 5px;
                    grid-column: 1;
                    display: flex;
                    align-items: center;
                }

                .collapse {
                    grid-column: 2;
                    display: flex;
                    align-items: center;  
                    justify-items: center;
                    transform-origin: center;

                    &.closed {
                        transform: rotate(180deg);
                    }
                }                        
            }

            .paneList > div:not(:last-child) {
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
            }

            .fragment > div:not(:last-child)  {
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
            }
        }
    }

    .color-picker {
        height: calc(100% - 8px);
        margin: 4px;
        width: calc(100% - 8px);

        .color-rect {
            height: calc(100% - 4px);
            border: 2px white solid;
            cursor: pointer;
            min-height: 18px;
        }

        .color-picker-cover {
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .color-picker-float {
            z-index: 2;
            position: absolute;  
        }                
    }

    .gradient-step {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 30px 30px 40px auto 20px 5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;

        .step {
            grid-row: 1;
            grid-column: 1;
        }
            
        .color {
            grid-row: 1;
            grid-column: 2;
            cursor: pointer;
        }

        .step-value {       
            margin-left: 5px;     
            grid-row: 1;
            grid-column: 3;
            text-align: right;
            margin-right: 5px;
        }

        .step-slider {            
            grid-row: 1;
            grid-column: 4;
            display: grid;
            justify-content: stretch;
            align-content: center;
            margin-right: 5px;

            input {
                width: unset;
            }
        }

        .gradient-delete {            
            grid-row: 1;
            grid-column: 5;
            display: grid;
            align-content: center;
            justify-content: center;
        }
    }

    .floatLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 120px;


        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .value {
            grid-column: 2;
            
            display: flex;
            align-items: center;
            
            input {
                width: 110px;
            }
        }
    }

    .vector3Line {
        padding-left:$line-padding-left;                    
        display: grid;

        .firstLine {
            display: grid;
            grid-template-columns: 1fr auto 20px;
            height: 30px;

            .label {
                grid-column: 1;
                display: flex;
                align-items: center;
            }

            .vector {
                grid-column: 2;
                display: flex;
                align-items: center;
                text-align: right;
                opacity: 0.8;
            }

            .expand {
                grid-column: 3;
                display: grid;
                align-items: center;
                justify-items: center;
                cursor: pointer;
            }
        }

        .secondLine {
            display: grid;
            padding-right: 5px;  
            border-left: 1px solid rgb(51, 122, 183);

            .no-right-margin {
                margin-right: 0;
            }

            .numeric {
                display: grid;
                grid-template-columns: 1fr auto;
            }

            .numeric-label {
                text-align: right;
                grid-column: 1;
                display: flex;
                align-items: center;                            
                justify-self: right;
                margin-right: 10px;                          
            }

            .numeric-value {
                width: 120px;
                grid-column: 2;
                display: flex;
                align-items: center;  
                border: 1px solid  rgb(51, 122, 183);
            }                        
        }
    }

    .buttonLine {
        height: 30px;
        display: grid;
        align-items: center;
        justify-items: stretch;
        padding-bottom: 5px;

        input[type="file"] {
            display: none;
        }

        .file-upload {            
            background: #222222;
            border: 1px solid rgb(51, 122, 183);
            margin: 5px 10px;
            color:white;
            padding: 4px 5px;
            padding-top: 0px;
            opacity: 0.9;
            cursor: pointer;
            text-align: center;
        }

        .file-upload:hover {
            opacity: 1.0;
        }

        .file-upload:active {
            transform: scale(0.98);
            transform-origin: 0.5 0.5;
        }

        button {
            background: #222222;
            border: 1px solid rgb(51, 122, 183);
            margin: 5px 10px 5px 10px;
            color:white;
            padding: 4px 5px;
            opacity: 0.9;
        }

        button:hover {
            opacity: 1.0;
        }

        button:active {
            background: #282828;
        }   
        
        button:focus {
            border: 1px solid rgb(51, 122, 183);
            outline: 0px;
        }  
    }

    
    .checkBoxLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr auto;

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .checkBox {
            grid-column: 2;
            
            display: flex;
            align-items: center;

            .lbl {
                position: relative;
                display: block;
                height: 14px;
                width: 34px;
                margin-right: 5px;
                background: #898989;
                border-radius: 100px;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            .lbl:after {
                position: absolute;
                left: 3px;
                top: 2px;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                background: #fff;
                box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
                content: '';
                transition: all 0.15s ease;
            }

            .lbl:active:after { 
                transform: scale(1.15, 0.85); 
            }

            .cbx:checked ~ label { 
                background: rgb(51, 122, 183);
            }

            .cbx:checked ~ label:after {
                left: 20px;
                background: rgb(22, 73, 117);
            }

            .cbx:checked ~ label.disabled { 
                background: rgb(22, 73, 117);
                cursor: pointer;
            }

            .cbx:checked ~ label.disabled:after {
                left: 20px;
                background: rgb(85, 85, 85);
                cursor: pointer;
            }

            .cbx ~ label.disabled {
                background: rgb(85, 85, 85);
                cursor: pointer;
            }

            .hidden { 
                display: none; 
            }               
        }                    
    }  

    .listLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr auto;


        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .options {
            grid-column: 2;
            
            display: flex;
            align-items: center;   
            margin-right: 5px;

            select {
                width: 115px;
            }
        }                    
    }  
                    
    .color3Line {
        padding-left: $line-padding-left;
        display: grid;

        .firstLine {
            height: 30px;
            display: grid;
            grid-template-columns: 1fr auto 20px 20px;

            .label {
                grid-column: 1;
                display: flex;
                align-items: center;
            }

            .color3 {
                grid-column: 2;                
                width: 50px;
                
                display: flex;
                align-items: center;            
                
                input {
                    margin-right: 5px;
                }
            }

            .copy {
                grid-column: 3;
                display: grid;
                align-items: center;
                justify-items: center;
                cursor: pointer;
                
                img {
                    height: 100%;
                }
            }

            .expand {
                grid-column: 4;
                display: grid;
                align-items: center;
                justify-items: center;
                cursor: pointer;
            }
        }   

        .secondLine {
            display: grid;
            padding-right: 5px;  
            border-left: 1px solid rgb(51, 122, 183);

            .numeric {
                display: grid;
                grid-template-columns: 1fr auto;
            }

            .numeric-label {
                text-align: right;
                grid-column: 1;
                display: flex;
                align-items: center;                            
                justify-self: right;
                margin-right: 10px;                          
            }

            .numeric-value {
                width: 120px;
                grid-column: 2;
                display: flex;
                align-items: center;  
                border: 1px solid  rgb(51, 122, 183);
            }                        
        }                  
    }     
    
    .textLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr auto;

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .link-value {
            grid-column: 2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: end;
            opacity: 0.8;
            margin:5px;
            margin-top: 6px;
            max-width: 140px;
            text-decoration: underline;
            cursor: pointer;
        }

        .value {
            grid-column: 2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: end;
            opacity: 0.8;
            margin:5px;
            margin-top: 6px;
            max-width: 200px;
            -webkit-user-select: text; 
            -moz-user-select: text;   
            -ms-user-select: text;    
            user-select: text;                

            &.check {
                color: green;
            }

            &.uncheck {
                color: red;
            }  
        }
    }    

}