/* To change the colors of the SVG images, use this website :
https://codepen.io/sosuke/pen/Pjoqqp */

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
#waitTitle {
    color: rgb(208, 23, 211);
}
#exampleList #exampleBanner h1 {
    color: #ae00ef;
}
#exampleList .horizontalSeparator {
    border-top: 1px solid #ae00ef;
}
#exampleList .categoryContainer .itemLine .itemContent .itemLineDocLink {
    color: #ae00ef;
}
#exampleList .categoryContainer .itemLine .itemContent .itemLinePGLink {
    color: #ae00ef;
}

#fpsLabel {
    background-color: #9147c9;
}
.navbar .title {
    color: #bb47c9;
}
.navbar .version {
    color: #9147c9;
}

.button {
    background-color: #9147c9;
}
.button:hover {
    background-color: #bb47c9;
}
.navbar .button.run {
    background-color: #bb47c9;
}
.navbar .select .toDisplay {
    border: 1px solid #9147c9;
}
.navbar .select .subSelect .toDisplaySub {
    border: 1px solid #9147c9;
}

.navbar .select .toDisplay .option {
    font-size: 0.9em;
    height: 35px;
    line-height: 35px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    border-bottom : 1px solid rgba(0,0,0,0.1);
}

.navbar .select .toDisplay .option.light:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}


.navbar .select .toDisplay .option.dark {
    background-color: #333;
    color: white;
}
.navbar .select .toDisplay .option.light {
    background-color: white;
    color: #9147c9;
}
.navbar .select .toDisplayBig {
    border: 1px solid #9147c9;
}

.navbar .select .toDisplayBig.light {    
    color: #bb47c9;
}
.navbar .select .toDisplayBig a.light {
    color: #9147c9;
}


