@media (max-width: 710px) {
    .navBar1280 { display: none; }
    .navBar920 { display: none; }
    .navBar710 { display: block; }
    .navBar400 { display: none; }

    .removeOnPhone {
        display : none !important;
    }

    #fpsLabel {
        top: 60px;
    }
    #exampleList {
        width: 100%;
    }

    .navbar {
        box-shadow: 0 2px 5px #000;
    }

    .navbarBottom .links .link a {
        font-size: 14px;
    }
}

.navbar.navBar710 .categoryTitle {
    width: 155px;
    height: 100%;
    text-align: center;
}
.navbar.navBar710 .categoryTitle .logo {
    margin-top: -7px;
    margin-left: -5px;
}
.navbar.navBar710 .categoryTitle .version {
    position: relative;
    top: -35px;
    left: 20px;
}
.navbar.navBar710 .select .toDisplayBig {
    width:350px;
}    
.navbar.navBar710 .select .toDisplayBig ul {
    column-count: 1;
}