@media (max-width: 550px) {
    .navBar1280 { display: none; }
    .navBar920 { display: none; }
    .navBar710 { display: none; }
    .navBar550 { display: block; }

    #fpsLabel {
        position: fixed;
        top: calc(100% - 35px);
        bottom: 0;
        right: 0;
        box-shadow: none;
    }
    .navbarBottom {
        display: none;
    }
    .wrapper {
        height: calc(100% - 55px - 35px);
    }

    #JStoTSbar {
        padding-left: 8px;
    }
    #JStoTSbar .buttonJStoTS {
        border-top-left-radius: 12px;
    }

    .navbar .categoryTitle {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 35px;
        line-height: 35px;
        width: 100%;
    }
    .navbar .categoryTitle .logo, .navbar .categoryTitle .version {
        vertical-align: top;
        height: 100%;
        margin: 0;
    }
    .navbar .categoryTitle .logo, .navbar .categoryTitle .version .versionSub {
        vertical-align: top;
    }

    .navbar .select .toDisplay {
        position: fixed;
        left: 0;
        width: 100%;
        height: calc(100% - 55px);
        text-align: center;
        overflow-y: auto;
    }
    .navbar .select .toDisplay .option {
        text-align: center;
        padding: 1px;
        border-top: 1px solid white;
        font-size: 15px;
        height: 33px;
        line-height: 33px;
    }
    .navbar .select .toDisplay .option:last-of-type {
        border-bottom: 1px solid white;
    }

    .navbar .select .subSelect .toDisplaySub {
        position: fixed;
        top: 55px;
        left: 0;
        top: 55px;
        width: 100%;
        height: calc(100% - 55px);
        text-align: center;
        overflow-y: auto;
    }
    .navbar .select .subSelect .toDisplaySub .option {
        margin-top: 1px;
    }

    .save-layer .save-form {
        z-index: 15;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .save-layer .save-form .separator, .save-layer .save-form input, .save-layer .save-form textarea {
        box-sizing: border-box;
        width: calc(100% - 20px);
        margin: 10px auto;
    }
    .save-layer .save-form #saveFormButtons {
        margin-top: 15px;
        text-transform: uppercase;
    }
}