#texture-editor {
    height: 100%;
    width: 100%;
    color: white;
    background-color: #1e1e1e;
}

.icon {
    width: 40px;
    height: 40px;
    &.button {
        background-color: #333333;
        &:hover {
            background-color: #4a4a4a;
            cursor: pointer;
        }
        &.active {
            background-color: #666666;
        }
        &:active {
            background-color: #888888;
        }
    }
}

.has-tooltip {
    display: inline-block;
    .tooltip {
        visibility: hidden;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s;
        line-height: normal;
        font-size: 14px;
        padding: 0px 5px;
        color: black;
    }

    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }
}

#properties {
    position: absolute;
    width: 100%;
    height: 40px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 12px;
    color: white;
    user-select: none;
    background-color: #1e1e1e;

    .tab {
        display: flex;
        line-height: 40px;
        height: 40px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 2px;
        background-color: #333333;
    }
    #dimensions-tab {
        label {
            margin-left: 15px;
            color: #afafaf;
            input {
                width: 40px;
                height: 24px;
                background-color: #000000;
                color: #ffffff;
                border: 0;
                padding-left: 4px;
                font-size: 12px;
            }

            &:last-of-type {
                margin-right: 8px;
            }
        }
    }
    #right-tab {
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 0;
        .content {
            position: absolute;
            right: 0px;
        }
    }

    .pixel-data {
        &:first-of-type {
            margin-left: 15px;
        }
        width: 45px;
        color: #afafaf;
        display: flex;
        justify-content: space-between;
        .value {
            display: inline-block;
            width: 30px;
            color: white;
        }
    }
}

#toolbar {
    position: absolute;
    top: 60px;
    left: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
    #tools {
        display: flex;
        flex-direction: column;
        
    }

    #color {
        margin-top: 8px;
        #activeColor {
            margin: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}

#channels-bar {
    position: absolute;
    top: 60px;
    right: 0;
    width: 80px;
    background: #666666;
    .channel {
        color: white;
        border-bottom: 2px solid #232323;
        width: 80px;
        height: 40px;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-top: 2px;

        &.uneditable {
            background: #333333;
        }
    }
    user-select: none;
}

#canvas-ui {
    width: 100%;
    height: 100%;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #333333;
    font-size: 14px;
    user-select: none;
    line-height: 30px;
    #file-url {
        margin-left: 30px;
    }
}

// button, select {
//     background: #222222;
//     border: 1px solid rgb(51, 122, 183);
//     margin: 5px 10px 5px 10px;
//     color:white;
//     padding: 4px 5px;
//     opacity: 0.9;
//     cursor: pointer;
// }

// button:hover, select:hover {
//     opacity: 1.0;
// }

// button:active {
//     background: #282828;
// }   

// button:focus, select:focus {
//     border: 1px solid rgb(51, 122, 183);
//     outline: 0px;
// }

// input[type="text"] {
//     border: none;
//     padding: 0;
//     border-bottom: solid 1px rgb(51, 122, 183);
//     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(51, 122, 183) 4%);
//     background-position: -1000px 0;
//     background-size: 1000px 100%;
//     background-repeat: no-repeat;  
//     color:white;    
// }

// input[type="text"]::placeholder {
//     color: lightgray;
// }

// input[type="text"]:focus  {
//     box-shadow: none;
//     outline: none;
//     background-position: 0 0;
// }