#texture-editor {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 120px calc(100% - 120px);
}

#controls {
    width: 100%;
    grid-row: 1;
    grid-column: 1 / 6;
    background: #464646;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    #toolbar {
        display: flex;
        flex-direction: column;
        justify-content: left;
        
        #tools {
            display: flex;
            flex-direction: row;
            justify-content: center;
            form {
                margin: 0;
            }
        }

        #color {
            label {
                color: white;
                margin: 1em;
            }
        }
    }
    
    #channels {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .command {
            border: 1px solid transparent;
            background:transparent;
            font-size: 20px;
        }
    
        .selected {
            border: 1px solid rgb(51, 122, 183);
        }
    }
}

#editing-area {
    grid-row: 2;
    grid-column: 1 / 6;
    #canvas-ui {
        width: 100%;
        height: 100%;
    }
}

button, select {
    background: #222222;
    border: 1px solid rgb(51, 122, 183);
    margin: 5px 10px 5px 10px;
    color:white;
    padding: 4px 5px;
    opacity: 0.9;
    cursor: pointer;
}

button:hover, select:hover {
    opacity: 1.0;
}

button:active {
    background: #282828;
}   

button:focus, select:focus {
    border: 1px solid rgb(51, 122, 183);
    outline: 0px;
} 

input[type="text"] {
    border: none;
    padding: 0;
    border-bottom: solid 1px rgb(51, 122, 183);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(51, 122, 183) 4%);
    background-position: -1000px 0;
    background-size: 1000px 100%;
    background-repeat: no-repeat;  
    color:white;    
}

input[type="text"]::placeholder {
    color: lightgray;
}

input[type="text"]:focus  {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}