$buttonHeight: 30px;

#performance-viewer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-template-rows: $buttonHeight;
    grid-template-areas: ". liveButton"
                         "sidebar graph";
    .performancePlayheadButton {
        grid-area: liveButton;
        height: $buttonHeight;
        width: 100px;
        justify-self: right;
        background-color: #dcdfe1;
        color: #2e3f47;
        outline: 2px #2e3f47;
        margin: 5px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    #performance-viewer-graph {
        grid-area: graph;
    }

    #performance-viewer-sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;

        .header {
            color: white;
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            padding: 5 0;
        }

        //darkest color
        .version-header {
            background-color: darkslategray;
        }

        // mid-dark color
        .category-header {
            background-color: royalblue;
        }
        
        //darker color
        .sidebar-item:nth-child(odd) {
            background-color: lightsteelblue;
        }

        // lighter color
        .sidebar-item:nth-child(even) {
            background-color: lightgrey;
        }

        .sidebar-item {
            display: inline-flex;
            flex-direction: row;    
            width: 100%;
            align-items: center;
            .sidebar-item-label {
                width: 100%;
            }
            .color-picker {
                height: calc(100% - 8px);
                margin: 4px;
                width: 100%;
        
                .color-rect {
                    height: calc(100% - 4px);
                    border: 2px white solid;
                    cursor: pointer;
                    min-height: 18px;
                }
        
                .color-picker-cover {
                    position: fixed;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    z-index: 100;
                }
        
                .color-picker-float {
                    position: absolute;
        
                    .color-picker-container {
                        width: 200px;
                    }
                }                
            }
        }
    }
}
