#node-editor-graph-root {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 200px calc(100% - 500px) 300px;
    height: 100%;
    width: 100%;
    background: #464646;
    font: 14px "acumin-pro";   
}

#nodeList {
    grid-row: 1;
    grid-column: 1;
}

.diagram-container {
    grid-row: 1;
    grid-column: 2;
    background: #222222;
}

#propertyTab {
    grid-row: 1;
    grid-column: 3;
}