.optionsLine {
    font-family: "acumin-pro-condensed", sans-serif;
    font-size: 12px;
    padding: 0 5px;
    width: 100%;
    height: 25px;
}

.optionsSelect {
    width: 100%;
    height: 100%;
    border: unset;
}
