#bottom-bar {
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 10px 210px 10px 1fr 10px 61px 10px;

    #bottom-bar-total {        
        grid-row: 1;
        grid-column: 6;
        color:white;
        background: #222222;
        height: 25px;
        align-self: center;
        display: grid;
        align-content: center;
        justify-content: center;font-family: 'acumin-pro-condensed';
        font-size: 12pt;
    }

    .control-button {

        .control-button-image {
            display: unset;
        }

        .control-button-hover-image {
            display: none;
        }

        &:hover {
            cursor: pointer;

            .control-button-image {
                display: none;
            }
    
            .control-button-hover-image {
                display: unset;
            }
        }

        &:active {
            transform-origin: 50% 50%;
            transform: scale(0.96);
        }
    }

    #media-player {
        grid-row: 1;
        grid-column: 2;
        display:grid;
        align-self: center;
        justify-self: center;
        grid-template-rows: 100%;
        grid-template-columns: 23px 23px 23px 23px 23px 23px;

        #start-key {            
            grid-row: 1;
            grid-column: 1;
        }

        #first-key {            
            grid-row: 1;
            grid-column: 2;
        }

        #rev-key {            
            grid-row: 1;
            grid-column: 3;
        }

        #fwd-key {            
            grid-row: 1;
            grid-column: 4;
        }

        #next-key {            
            grid-row: 1;
            grid-column: 5;
        }

        #end-key {            
            grid-row: 1;
            grid-column: 6;
        }
    }

    #range-selector {
        grid-row: 1;
        grid-column: 4;
        background: #222222;
        width: 100%;
        height: calc(100% - 20px);
        margin: 10px 0;
        position: relative;

        #range-scrollbar {
            position: absolute;
            left:2px;
            top:2px;
            right: 2px;
            bottom: 2px;
            background: #666666;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 20px auto 1fr auto 20px;
            color:#222222;
            font-family: 'acumin-pro-condensed';
            font-size: 14px;
            min-width: 70px;

            #left-handle {
                grid-row: 1;
                grid-column: 1;        
            }

            #right-handle {
                grid-row: 1;
                grid-column: 5;        
            }

            #from-key {
                grid-row: 1;
                grid-column: 2;  
                align-self: center;
                justify-self: center;
                user-select: none;
                pointer-events: none;
            }

            #to-key {
                grid-row: 1;
                grid-column: 4;  
                align-self: center;
                justify-self: center;
                user-select: none;
                pointer-events: none;
            }

            .handle {
                width: 20px;
                align-self: center;
                justify-self: center;
                cursor: pointer;
                user-select: none;

                img {
                    pointer-events: none;
                }
            }
        }
    }
}