#bottom-bar {
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 10px 210px 10px 1fr 10px 61px 10px;

    .control-button {

        .control-button-image {
            display: unset;
        }

        .control-button-hover-image {
            display: none;
        }

        &:hover {
            cursor: pointer;

            .control-button-image {
                display: none;
            }
    
            .control-button-hover-image {
                display: unset;
            }
        }

        &:active {
            transform-origin: 50% 50%;
            transform: scale(0.96);
        }
    }

    #media-player {
        grid-row: 1;
        grid-column: 2;
        display:grid;
        align-self: center;
        justify-self: center;
        grid-template-rows: 100%;
        grid-template-columns: 23px 23px 23px 23px 23px 23px;

        #start-key {            
            grid-row: 1;
            grid-column: 1;
        }

        #first-key {            
            grid-row: 1;
            grid-column: 2;
        }

        #rev-key {            
            grid-row: 1;
            grid-column: 3;
        }

        #fwd-key {            
            grid-row: 1;
            grid-column: 4;
        }

        #next-key {            
            grid-row: 1;
            grid-column: 5;
        }

        #end-key {            
            grid-row: 1;
            grid-column: 6;
        }
    }
}