#canvas-zone {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 30px 10px 40px;

    #graph {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background: #111111;
        
        #svg-graph {
            width: 100%;
            height: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}