#canvas-zone {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 30px 10px 40px;
    overflow: hidden;    
    position: relative;

    #graph {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 100%;
        background: #222222;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        overflow: hidden;
        position: relative;
        
        #svg-graph-grid {
            grid-column: 1;
            grid-row: 1;
            width: 100%;
            height: 100%;            
            pointer-events: none;

            &:focus {
                outline: none;
            }
            z-index: 1;
        }

        #dark-rectangle {
            grid-column: 1;
            grid-row: 1;
            margin-left: 40px;
            width: calc(100% - 40px);
            height: 100%;
            background: #111111;
            opacity: 0.2;
            pointer-events: none;
            position: absolute;
        }

        #block-rectangle {
            grid-column: 1;
            grid-row: 1;
            width:40px;
            height: 100%;            
            background: #222222;
            z-index: 1;
        }

        #svg-graph-curves {
            grid-column: 1;
            grid-row: 1;
            margin-left: 40px;
            width: calc(100% - 40px);
            height: 100%;

            &:focus {
                outline: none;
            }
        }

        #selection-rectangle {
            grid-column: 1;
            grid-row: 1;
            width: calc(100% - 40px);
            height: 100%;            
            pointer-events: none;
            position: absolute;
            left: 40px;
            visibility: hidden;

            border: 1px dashed white;
        }
    }

    #range-frame-bar {
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        height: 100%;
        background: #222222;
        pointer-events: none;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        pointer-events: none;
        user-select: none;

        #svg-range-frames {
            grid-column: 1;
            grid-row: 1;         
            width: 100%;
            height: 100%;  
        }
    }

    #frame-bar {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 100%;
        background: #222222;
        pointer-events: none;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40px 1fr;

        #angle-unit {
            grid-column: 1;
            grid-row: 1;
            background: #111111;
        }

        #frames {
            grid-column: 1 / 3;
            
            grid-row: 1;            
            width: 100%;
            height: 100%;  
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 100%;

            #svg-frames {
                margin-left: 40px;
                grid-column: 1;
                grid-row: 1;         
                width: calc(100% - 40px);
                height: 100%;  
            }
        }
    }

    #play-head-control {        
        grid-column: 1;
        grid-row: 2;
        position: absolute;
        height: 30px; 
        left: 40px;
        width: calc(100% - 40px);
    }

    #play-head {
        grid-column: 1;
        grid-row: 1 / 3;
        position: absolute;
        top:0;
        height: calc(100% - 5px);
        width: 22px;
        margin-left: 40px;
        display: grid;                
        grid-template-columns: 100%;
        grid-template-rows: 1fr 22px;
        transform: translateX(-50%);
        pointer-events: none;  

        #play-head-bar {
            grid-row: 1;
            grid-column: 1;
            justify-self: center;
            width: 1.5px;
            background: #ffffff;
            height: 100%;   
            pointer-events: none;     
        }

        #play-head-circle {
            grid-row: 2;
            grid-column: 1;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #FFFFFF;
            font-family: 'acumin-pro-condensed';
            font-size: 8pt;
            display: grid;
            align-content: center;
            justify-content: center;
            color:#555555;
            cursor: pointer;       
        }            
    }

    #angle-mode {
        grid-column: 1;
        grid-row: 2;
        width: 40px;
        height: 100%;
        z-index: 1;
        background: black;
    }
}