<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".fx" mimeType="application/shader" />
            <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
        </staticContent>
    </system.webServer>
</configuration>