#toolbar {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    
    /*.buttonLine {
        height: 30px;
        display: grid;
        align-items: center;
        justify-items: stretch;
        width: 100px;

        button {
            background: #222222;
            margin: 5px 10px 5px 10px;
            color:white;
            padding: 4px 5px;
            opacity: 0.9;
        }

        button:hover {
            opacity: 1.0;
        }

        button:active {
            background: #282828;
        }   
        
        button:focus {
            outline: 0px;
        }  
    }*/
}