.port-container {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    z-index: 2;
}

.frame-box-border {
    grid-row: 1 / span 2;
    grid-column: 1;
    width: 100%;
    height: 100%;
    border: transparent solid 4px;
    pointer-events: none;
    box-sizing: border-box;
}

.frame-comments {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    padding: 0 10px;
    font-style: italic;
    word-wrap: break-word;
}

.selected.frame-box-border {
    border-color: white;
}

.frame-box-header {
    grid-row: 1;
    grid-column: 1;
    background: rgba(72, 72, 72, 1);
    color: white;
    text-align: center;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: calc(100% - 111px) 30px 7px 30px 7px 30px 7px;
    align-content: center;
    overflow: hidden;
}

.frame-box-header-button {
    cursor: pointer;
    align-self: center;
    transform-origin: 50% 50%;
    transform: scale(1);
    stroke: transparent;
    fill: white;
    display: grid;

    &.down {
        transform: scale(0.9);
    }
}

.frame-box-header-collapse {
    grid-column: 2;
    grid-row: 1;
}

.frame-box-header-focus {
    grid-column: 4;
    grid-row: 1;
}

.frame-box-header-close {
    grid-column: 6;
    grid-row: 1;
}

.frame-box-header-title {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    height: 100%;
    width: 100%;
    align-self: stretch;
    align-items: center;
    margin-top: -2px;
}

.right-handle {
    grid-area: 1 / 2 / 3 / 2;
    width: 4px;
    background-color: transparent;
    cursor: ew-resize;

    &::after {
        content: "";
        width: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -4px;
        cursor: ew-resize;
    }
}

.top-right-corner-handle {
    background-color: transparent;
    height: 4px;
    z-index: 21;
    cursor: ne-resize;
    width: 4px;
    margin-left: -6px;

    &::after {
        background-color: transparent;
        cursor: ne-resize;
        margin-left: unset;
        top: -4px;
        height: 10px;
        width: 10px;
    }
}

.bottom-right-corner-handle {
    background-color: transparent;
    height: 0px;
    z-index: 21;
    cursor: nw-resize;
    grid-area: 4 / 2 / 4 / 2;
    margin-left: -2px;

    &::after {
        background-color: transparent;
        height: 10px;
        cursor: nw-resize;
        top: unset;
        bottom: -4px;
        width: 10px;
    }
}

.left-handle {
    grid-area: 1 / 1 / 3 / 1;
    width: 4px;
    background-color: transparent;
    cursor: ew-resize;

    &::before {
        content: "";
        width: 8px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -4px;
    }
}

.top-left-corner-handle {
    background-color: transparent;
    height: 4px;
    z-index: 21;
    cursor: nw-resize;
    width: 4px;
    margin-left: -4px;

    &::before {
        background-color: transparent;
        cursor: nw-resize;
        margin-left: unset;
        top: -4px;
        height: 10px;
        width: 10px;
    }
}

.bottom-left-corner-handle {
    background-color: transparent;
    height: 0px;
    z-index: 21;
    cursor: sw-resize;
    grid-area: 4 / 1 / 4 / 1;

    &::before {
        background-color: transparent;
        height: 10px;
        cursor: sw-resize;
        top: unset;
        bottom: -4px;
        width: 10px;
    }
}

.top-handle {
    grid-area: 1 / 1 / 1 / 1;
    background-color: transparent;
    height: 4px;
    cursor: ns-resize;

    &::before {
        content: "";
        width: 100%;
        position: absolute;
        top: -4px;
        bottom: 100%;
        right: 0;
        left: 0;
        margin-bottom: -8px;
        cursor: ns-resize;
        height: 8px;
    }
}

.bottom-handle {
    grid-area: 3 / 1 / 3 / 1;
    background-color: transparent;
    height: 4px;
    cursor: ns-resize;

    &::after {
        content: "";
        width: 100%;
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        margin-top: -8px;
        cursor: ns-resize;
        height: 12px;
    }
}

.expanded {
    font-size: 24px;
}

.collapsed {
    height: auto !important;
    width: 200px !important;
    z-index: 3;
    font-size: 16px;
}

.collapsedHeader {
    grid-template-columns: calc(100% - 37px) 30px 7px;
}
