.graph-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 14px "acumin-pro";
    user-select: none;
    overflow: hidden;
    cursor: move;
    position: relative;
    background-image: linear-gradient(to right, #4f4e4f 1px, transparent 1px), linear-gradient(to bottom, #4f4e4f 1px, transparent 1px);
}

.graph-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform-origin: left top;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.frame-container {
    overflow: visible;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.graph-svg-container {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    pointer-events: none;
    z-index: 2;
    filter: drop-shadow(7px 6px 2px rgba(0, 0, 0, 0.2));
}

.graph-canvas-container {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.selection-container {
    pointer-events: none;
}

.selection-box {
    z-index: 10;
    position: absolute;
    background: rgba(72, 72, 196, 0.5);
    border: blue solid 2px;
}
