.visual {
    z-index: 4;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    background: gray;
    border: 4px solid black;
    border-radius: 12px;
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: 100%;
    color: white;
    box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.2);
}

.highlighted {
    animation: glow 0.5s infinite alternate;
    @keyframes glow {
        to {
            border-color: white;
        }
    }
}

.header-container {
    grid-row: 1;
    grid-column: 1;
    position: relative;
    border: 4px solid black;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: black;
    color: white;
    transform: scaleX(1.01) translateY(-0.5px);
    transform-origin: center;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
}

$iconSize: 20px;
$iconMargin: 6px;

.headerIcon {
    z-index: 10;
    align-self: center;
    user-select: none;
    pointer-events: none;
    width: $iconSize;
    display: grid;
    margin-left: $iconMargin;
}

.header {
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.headerWithIcon {
    margin-left: calc(#{$iconSize} + #{$iconMargin});
}

.connections {
    grid-row: 2;
    grid-column: 1;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    transform: scale(1);
}

.content {
    min-height: 20px;
    grid-row: 3;
    grid-column: 1;
}

.comments {
    position: absolute;
    top: -50px;
    width: 200px;
    height: 45px;
    overflow: hidden;
    font-style: italic;
    opacity: 0.8;
    display: grid;
    align-items: flex-end;
    pointer-events: none;
}

.executionTime {
    position: absolute;
    bottom: 1px;
    width: 195px;
    height: 20px;
    overflow: hidden;
    font-size: 11px;
    opacity: 0.5;
    display: grid;
    align-items: flex-end;
    justify-content: end;
    pointer-events: none;
}

.selected {
    border-color: white !important;
}
