.selected {
    filter: brightness(2);
}

.incompatible {
    box-shadow: 0 0 8px 3px rgba(255, 60, 60, 0.8);
    filter: brightness(0.7) saturate(0.3);
}

.pip {
    background: green;
    width: 6px;
    height: 6px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    border-radius: 7px;
    border: 2px solid black;

    &.hidden {
        display: none;
    }
}

.port-icon {
    grid-row: 1;
    grid-column: 1;
    background: transparent;

    img {
        pointer-events: none;
    }
}

.icon-selected {
    box-shadow: 0 0 0 2px;
    border-radius: 50%;
}

.numberContainer {
    grid-column: 2;
    grid-row: 1;
    margin: 0px !important;
    padding-top: 0px !important;

    div {
        margin-top: 2px;
    }
}

.stringContainer {
    display: grid;
    margin-top: 2px;
    margin-bottom: 2px;

    input[type="text"] {
        grid-row: 1;
        grid-column: 1;
        margin-left: -1px;
        margin-right: 5px;
        border: 0px;
        opacity: 0.9;
        color: white;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2px 5px;
        font-size: 12px;
        min-width: 60px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &:focus {
            outline: 0px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 1;
        }
    }
}
