#graph-canvas {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;            
    font: 14px "acumin-pro";  
    user-select: none;
    overflow: hidden;

    #graph-container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform-origin: left top;

        #graph-svg-container {
            position:absolute;
            width: 100%;
            height: 100%;  
            overflow: visible; 
            
            .link {
                stroke-width: 4px;                       
            }

            .selection-link {
                stroke-width: 16px;
                &:hover, &.selected {
                    stroke: white !important;
                    opacity: 0.4;
                }
                stroke: transparent;                        
            }
        }

        #graph-canvas-container {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            .visual {
                z-index: 1;
                width: 200px;
                position: absolute;
                left: 0;
                top: 0;
                background: gray;
                border: 4px solid black;
                border-radius: 12px;
                display: grid;
                grid-template-rows: 30px auto;
                grid-template-columns: 100%;
                color: white;

                &.selected {
                    border-color: white;
                }

                .header {
                    grid-row: 1;
                    grid-column: 1;
                    border: 4px solid black;
                    border-top-right-radius: 7px;
                    border-top-left-radius: 7px;
                    font-size: 16px;
                    text-align: center;
                    margin-top: -1px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    background: black;
                    color: white;

                    &.constant {
                        border-color: #4E5C74;
                        background: #4E5C74;
                    }
            
                    &.inspector {
                        border-color: #396437;
                        background: #396437;
                    }
                }

                .connections {
                    grid-row: 2;
                    grid-column: 1;

                    display: grid;
                    grid-template-columns: 50% 50%;

                    .port {
                        border-radius: 20px;
                        width: 20px;
                        height: 20px;                                                    
                        align-self: center;   
                        
                        .img {
                            width: 100%;
                        }     
                        
                        &:hover, &.selected {
                            filter: brightness(2);
                        }
                    }

                    .portLine {
                        height: 24px;
                        display: grid;                
                        grid-template-rows: 100%;
                    }

                    .label {                   
                        align-items: center;
                    }

                    .inputsContainer {                        
                        grid-row: 1;
                        grid-column: 1;

                        .portLine {
                            grid-template-columns: 12px calc(100% - 15px);

                            .label {                    
                                grid-row: 1;
                                grid-column: 2;
                            }

                            .port {                              
                                grid-row: 1;
                                grid-column: 1;
                                transform: translateX(-12px);     
                            }
                        }
                    }

                    .outputsContainer {                        
                        grid-row: 1;
                        grid-column: 2;

                        .portLine {
                            grid-template-columns: calc(100% - 10px) 12px;

                            .label {                    
                                grid-row: 1;
                                grid-column: 1;
                                text-align: right;
                            }

                            .port {                              
                                grid-row: 1;
                                grid-column: 2;
                                transform: translateX(2px);                        
                            }
                        
                        }
                    }
                }

                .content {
                    min-height: 20px;
                    grid-row: 3;
                    grid-column: 1;

                    &.input-block {
                        grid-row: 2;
                        height: 34px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0 10px;
                    }

                    &.output-block {
                        min-height: 0px;
                        height: 5px;
                    }

                    &.clamp-block {                    
                        grid-row: 2;
                        height: 34px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0 10px;
                    }

                    &.gradient-block {                    
                        grid-row: 2;
                        height: 34px;
                    }

                    &.texture-block {                    
                        grid-row: 3;
                        height: 140px;
                        width: 140px;
                        margin-top: -115px;
                        overflow: hidden;
                        border-bottom-left-radius: 7px;
                        border: black 4px solid;
                        border-left: 0px;
                        border-bottom: 0px;

                        canvas {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &.remap-block {                    
                        height: 34px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0 10px;
                    }      
                    
                    &.trigonometry-block {                    
                        grid-row: 2;
                        height: 34px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}