#nodeList {
    background: #333333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%; 
    overflow: hidden;

    .pane {
        color: white;

        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;

        -webkit-user-select: none; 
        -moz-user-select: none;   
        -ms-user-select: none;    
        user-select: none;     

        .underline {
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
        }
    
        .buttonLine {
            height: 30px;
            display: grid;
            align-items: center;
            justify-items: stretch;

            button {
                background: #222222;
                border: 1px solid rgb(51, 122, 183);
                margin: 5px 10px 5px 10px;
                color:white;
                padding: 4px 5px;
                opacity: 0.9;
            }

            button:hover {
                opacity: 1.0;
            }

            button:active {
                background: #282828;
            }   
            
            button:focus {
                border: 1px solid rgb(51, 122, 183);
                outline: 0px;
            }  
        }

        .paneContainer {
            margin-top: 3px;
            display:grid;
            grid-template-rows: 100%;
            grid-template-columns: 100%;
            
            .paneList {
                border-left: 3px solid transparent;
            }

            &:hover {  
                .paneList {                      
                    border-left: 3px solid rgba(51, 122, 183, 0.8);
                }

                .paneContainer-content {
                    .header {
                        .title {   
                            border-left: 3px solid rgb(51, 122, 183);
                        }
                    }
                }
            }

            .paneContainer-content {
                grid-row: 1;
                grid-column: 1;

                .header {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    background: #555555;    
                    height: 30px;   
                    padding-right: 5px;                        
                    cursor: pointer;
                    
                    .title {                                
                        border-left: 3px solid transparent;
                        padding-left: 5px;
                        grid-column: 1;
                        display: flex;
                        align-items: center;
                    }

                    .collapse {
                        grid-column: 2;
                        display: flex;
                        align-items: center;  
                        justify-items: center;
                        transform-origin: center;

                        &.closed {
                            transform: rotate(180deg);
                        }
                    }                        
                }

                .paneList > div:not(:last-child) {
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
                }

                .fragment > div:not(:last-child)  {
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
                }
            }
        }
    }    
}

