#embed-host {
    position: absolute;
    right: 0px;
    top:0px;
    bottom: 0px;
    z-index: 10;
}

#__resizable_base__ {
    display: none;
}

#embed {
    background: #333333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 30px 1fr;
    font: 14px "Arial";
    overflow: hidden;

    #header {
        font-size: 16px;
        color: white;
        background: #222222;
        grid-row: 1;
        text-align: center;
        display: grid;
        grid-template-columns: 30px 1fr 50px;        
        -webkit-user-select: none; 
        -moz-user-select: none;   
        -ms-user-select: none;    
        user-select: none;                

        #logo {
            grid-column: 1; 
            width: 24px;
            height: 24px;
            display: flex;
            align-self: center;   
            justify-self: center;
        }      
        
        #back {
            grid-column: 1; 
            display: grid;
            align-self: center;   
            justify-self: center;
            cursor: pointer;
        }    

        #title {
            grid-column: 2; 
            display: grid;
            align-items: center;   
            text-align: center;
        }

        #commands {
            grid-column: 3; 
            display: grid;
            align-items: center;  
            grid-template-columns: 1fr 1fr;   
            
            .expand {
                grid-column: 1;
                display: grid;
                align-items: center;   
                justify-items: center;
                cursor: pointer;     
            }

            .close {
                grid-column: 2;
                display: grid;
                align-items: center;   
                justify-items: center;
                cursor: pointer;     
            }            
        }
    }

    #split {
        grid-row: 2;
        overflow: hidden;

        
        &.splitPopup {
            display: grid;
            grid-template-rows: 300px 2px 1fr;

            .panes {
                margin-bottom: 1px;
            }
        }

        #topPart {
            grid-row: 1;
            overflow: hidden;
            display: grid;
            grid-auto-rows: 100%;
        }
        
        #separator {
            grid-row: 2;
            background: white;
            opacity: 0.1;
        }

        #bottomPart {
            overflow: hidden;
            grid-row: 3;
            display: grid;
            grid-auto-rows: 100%;
        }        

        .gutter.gutter-vertical {
            background-image: none;
            background: #444444;
            cursor: row-resize;
        }
    }

}