#monacoHost {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: unset;
    .monaco-editor {
        width: 100% !important;
        height: 100%;
    }
    .monaco-editor .rename-box {
        width: auto !important;
        max-width: 200px !important;
        height: auto !important;
        font-size: 14px !important;
        padding: 2px 4px !important;
        line-height: 1.2 !important;
    }
}
