.qr-code {
    position: absolute;
    padding: 10px;
    margin: 0;
    bottom: 0px;
    width: 256px;
    height: 256px;
    z-index: 100;
    display: grid;
    user-select: none;
    cursor: pointer;
}
