html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: fixed;
    font-family: "Segoe WP", "Segoe UI", "Verdana", "Arial";
}

a {
    color: black;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: black;
    }

.button {
    cursor: pointer;
    z-index: 1;
}

    .button:hover {
        transform: scale3d(0.9, 0.9, 0.9);
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
    }

#footer {
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    background: white;
    text-align: center;
}

.footerLink {
    color: #2E7F80;
}

.footerLink:visited {
    color: #2E7F80;
}

.buttonControlPanel {
    height: 40px;
    width: 200px;
    margin: 5px 0px 5px 0px;
}

.smallButtonControlPanel {
    height: 30px;
    width: 200px;
    margin: 2px 0px 2px 0px;
}

    .smallButtonControlPanel.pushed {
        border: 2px solid #00008b;
    }

.buttonImg {
    height: 32px;
    width: 32px;
    float: left;
}

button {
    border: 1px solid #888888;
    background-color: #DEDEDE;
    color: #888888;
}

    button:hover {
        background-color: #EEEEEE;
    }

    button:active {
        transform: scale(0.98);
        -webkit-transform: scale(0.98);
    }

#title0 {
    font-size: 50px;
    color: #2F2F2F;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 50px;
}

#title1 {
    font-size: 40px;
    color: #2E7F80;
    font-weight: 900;
    position: absolute;
    top: 50px;
    left: 50px;
}

#title2 {
    font-size: 30px;
    color: #872526;
    font-weight: 900;
    position: absolute;
    top: 90px;
    left: 50px;
}

#title3 {
    font-size: 14px;
    color: #872526;
    font-weight: 100;
    text-align: center;
}

#screen1 {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: transform 0.4s ease-in-out;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    background-color: #DEDEDE;
    background-image: url("Assets/Bandeauhaut.png");
    background-repeat: repeat-x;
}

#gradient {
    position: absolute;
    left: 0;
    top: 135px;
    width: 100%;
    height: 47px;
    background-image: url("Assets/gradient.png");
    background-repeat: repeat-x;
    z-index: 1;
}

.hidden {
    display: none;
}

#newImg {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

#newText {
    position: absolute;
    top: 65px;
    left: 45px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: default;
    z-index: 1;
    text-align: right;
}

#downloadLink {
    position: absolute;
    top: 70px;
    right: 240px;
    border: 0;
    z-index: 1;
}

#aboutLink {
    position: absolute;
    top: 70px;
    right: 360px;
    z-index: 1;
}

#aboutText {
    position: absolute;
    top: 110px;
    right: 460px;
    font-weight: bold;
    color: #862627;
    cursor: default;
}

#downloadText {
    position: absolute;
    top: 110px;
    right: 140px;
    font-weight: bold;
    color: #2F7F80;
    cursor: default;
}

.movedLeft {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.movedRight {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

#babylonLink {
    position: absolute;
    top: 20px;
    right: 20px;
}

    #babylonLink:hover {
        transform: scale3d(0.9, 0.9, 0.9);
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
    }

    #babylonLink:active {
        opacity: 0.8;
    }

#mainTitle {
    position: absolute;
    top: 10px;
    right: 30px;
    color: White;
}

#opacityMask {
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#menuPanel {
    position: absolute;
    left: 0;
    right: 0;
    top: 136px;
    bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#renderZone {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
}

.header {
    font-size: 34px;
    color: #2E7F80;
    font-weight: 900;
}

#itemsContainer {
    position: absolute;
    top: 50px;
    left: 15%;
    right: 5%;
}

.big-item {
    float: left;
    position: relative;
    width: 400px;
    height: 508px;
    margin-right: 2px;
    margin-left: 2px;
}

    .big-item:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .big-item:active {
        opacity: 0.6;
    }

    .big-item .item-image {
        position: relative;
        height: 505px;
        width: 400px;
    }

.item {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 2px;
}

    .item:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .item:active {
        opacity: 0.6;
    }

.item-image {
    position: relative;
    width: 400px;
    height: 250px;
    /*height: 100%;*/
}

.item-text {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    height: 30px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 10px 10px 10px 10px;
    margin-bottom: 4px;
}

.item-text-right {
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 16px;
    color: white;
    max-width: 300px;
    text-align: right;
    height: 50px;
}

#notSupported {
    color: red;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    background-color: #EEEEEE;
    border: 1px solid #888888;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    z-index: 3;
    cursor: default;
}

#rootDiv {
    width: 100%;
    height: 100%;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
    -ms-touch-action: none;
}

#fps {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

#stats {
    position: absolute;
    right: 20px;
    top: 60px;
    font-size: 14px;
    color: white;
    text-align: right;
    text-shadow: 2px 2px 0 black;
}

#status {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

#controlPanel {
    position: absolute;
    height: 250px;
    bottom: 0px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    z-index: 1;
    transition: transform 0.25s ease-in-out;
    transform: translateY(250px);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transform: translateY(250px);
}

.tag {
    position: absolute;
    background-color: #EEEEEE;
    height: 40px;
    width: 150px;
    left: 50%;
    padding: 5px;
    color: #888888;
    font-size: 18px;
    margin-left: -75px;
    text-align: center;
    top: -40px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

#controlsZone {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    color: #888888;
    padding: 20px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

#cameraPanel {
    position: absolute;
    right: 0px;
    width: 300px;
    top: 350px;
    z-index: 1;
    transition: transform 0.25s ease-in-out;
    transform: translateX(300px);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transform: translateX(300px);
}

.cameraTag {
    position: absolute;
    background-color: #EEEEEE;
    height: 50px;
    width: 50px;
    top: 0px;
    left: -50px;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

#clickableTag {
    cursor: hand;
    background-color: transparent;
}

#cameraClickableTag {
    cursor: hand;
    background-color: transparent;
}

#cameraControlsZone {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    color: #888888;
    padding: 20px;
    border-bottom-left-radius: 10px 10px;
}

#loadingBack {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -30px;
    background-color: white;
    border: 1px solid #888888;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    z-index: 3;
    cursor: default;
}

#loadingText {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    color: #888888;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    z-index: 3;
    cursor: default;
}

.loadingBack {
    transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
}

.loadingText {
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
}

#leftPart {
    position: absolute;
    left: 20px;
    top: 10px;
    height: 40%;
    width: 30%;
}

#rightPart {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40%;
    width: 50%;
}

/*About*/
#clickableTitle {
    position: absolute;
    background-color: transparent;
    right: -80px;
    width: 100px;
    height: 35px;
    bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #777777;
    background-color: #EEEEEE;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    text-align: right;
    padding: 5px 10px 0px 0px;
    cursor: pointer;
}

#aboutPanel {
    position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    z-index: 50;
    transition: transform 0.25s ease-in-out;
    background-color: #EEEEEE;
    border: 2px solid #DDDDDD;
    color: #888888;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(-120%);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transform: translateX(-120%);
}

#aboutParagraph {
    text-align: center;
}

#features {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 350px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#engineFeatures {
    column-count: 3;
    column-gap: 20px;
    column-rule-color: #ccc;
    column-rule-style: dotted;
    column-rule-width: 2px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -webkit-column-rule-color: #ccc;
    -webkit-column-rule-style: dotted;
    -webkit-column-rule-width: 2px;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -moz-column-rule-color: #ccc;
    -moz-column-rule-style: dotted;
    -moz-column-rule-width: 2px;
}
