.regular-texture-block {
    margin-top: 100px;
}

.smart-filter-texture-block {
    margin-top: 60px;
}

.reduced-texture-block {
    margin-top: 30px;
}

.reflection-block {
    grid-row: 3 !important;
}

.triplanar-texture-block {
    margin-top: 155px;
}

.refraction-texture-block {
    margin-top: 80px;
}

.hidden {
    display: none;
}
