.tab-panel {

    .console-panel {
        min-height              : 100px;
        user-select             : text;
        box-sizing              : border-box;
        padding                 : 0 15px;    
        
        .console-panel-title {
            height              : 25px;
            border-bottom       : 1px solid $background-lighter2;
            text-transform      : uppercase;
            line-height         : 25px;
            margin-bottom       : 10px; 
        }
        
        .console-panel-content {            
            overflow-y              : auto;
            overflow-x              : hidden;    
            height                  : calc(100% - 30px);
        }  

        .defaut-line {
            word-wrap: break-word;
            padding: 3px 0 3px 5px;
        }

        .caller {
            padding: 3px 0 3px 0;
            color:darken($color-bot, 10%);
        }

        .log {  
            @extend .defaut-line;
            color:white;
        }   
        
        .warn {
            @extend .defaut-line;
            color:orange;
        }
        .error {
            @extend .defaut-line;
            color:orangered; 
        }
        .object {
            @extend .defaut-line;
            color:$color-bot;
        }
    }
}