.tab-panel {
    .gltf-actions {
        overflow-y: auto;
        padding-left: 5px;

        .gltf-title {
            font-size     : 1.1em;
            padding-bottom: 10px;
            border-bottom : 1px solid $color-bot;
            margin        : 10px 0 10px 0;
        }

        .gltf-action {
            height     : 20px;
            line-height: 20px;
            width      : 100%;
            cursor     : pointer;
            white-space: nowrap;

            &:hover {
                background-color: $background-lighter;
            }
        }

        .gltf-icon {
            width      : 1em;
            height     : 1em;
            line-height: 1em;
            display    : inline-block;
            font-family: $font-family-icons;
            margin-right:10px;
        }

        .gltf-checkbox {
            @extend .gltf-action;
            &:before {
                width      : 1em;
                height     : 1em;
                line-height: 1em;
                display    : inline-block;
                font-family: $font-family-icons;
                content    : "\f0c8";
                margin-right:10px;
            }

            &.active {
                &:before {
                    width      : 1em;
                    height     : 1em;
                    line-height: 1em;
                    display    : inline-block;
                    font-family: $font-family-icons;
                    content    : "\f14a";
                    color      : $color-bot;
                    margin-right:10px;
                }
            }
        }

        .gltf-input {
            background-color: $background-lighter;
            border          : none;
            outline         : none;
            font-family     : $font;
            color           : darken($color, 10%);
            padding         : 5px;
            margin          : 0px 6px 0px 0;

            &:hover {
                background-color:$background-lighter2;
            }
        }

        .gltf-button {
            background-color: $background-lighter;
            border          : none;
            outline         : none;
            font-family     : $font;
            color           : $color;
            padding         : 5px 10px;
            margin          : 0px 6px 0px 0;

            &:hover {
                background-color:$background-lighter2;
            }

            &:active {
                background-color:$background-lighter3;
            }
        }
    }
}