.tab-panel {

    &.stats-panel {
        overflow-y      : auto;
    }
    
    .stats-fps {
        font-weight:600;
        color:$color-top;
    }

    .stat-title1 {        
        font-size       : 1.1em;
        padding         : 10px;
    }

    .stat-title2 {
        margin          : 10px 0 10px 0;
        font-size       : 1.05em; 
        border-bottom   : 1px solid $color-bot;
        box-sizing      : border-box;
    }

    .stat-label {
        display         : inline-block;
        width           : 80%;
        padding         : 2px;
        background-color: $background-lighter;
        border-bottom   : 1px solid $background;
        border-top      : 1px solid $background;
        height          : 30px;
        line-height     : 30px;
        box-sizing      : border-box;
        
    }
    .stat-value {
        display         : inline-block;
        width           : 20%;
        padding         : 2px;
        background-color: $background-lighter;
        border-top      : 1px solid $background;
        border-bottom   : 1px solid $background;
        height          : 30px;
        line-height     : 30px;
        box-sizing      : border-box;
    }

    .stat-infos {
        width           : 100%;
        padding         : 4px;
    }
}