.tab-panel {

    &.tools-panel {
        overflow-y      : auto;
    }

    .tool-title1 {        
        font-size       : 1.1em;
        padding         : 10px;
    }

    .tool-title2 {
        margin          : 10px 0 10px 0;
        font-size       : 1.05em; 
        border-bottom   : 1px solid $color-bot;
        box-sizing      : border-box;
    }

    .tool-label {
        display         : inline-block;
        width           : 75%;
        padding         : 2px;
        background-color: $background-lighter;
        border-bottom   : 1px solid $background;
        border-top      : 1px solid $background;
        height          : 30px;
        line-height     : 30px;
        box-sizing      : border-box;
    }

    .tool-label-line {
        @extend .tool-label;
        width           : 100%;
    }

    .tool-label-error {
        @extend .tool-label;
        color           : $color-error;
        width           : 100%;
        background-color: none;
    }

    .tool-value {
        display         : inline-block;
        width           : 25%;
        padding         : 2px;
        background-color: $background-lighter;
        border-top      : 1px solid $background;
        border-bottom   : 1px solid $background;
        height          : 30px;
        line-height     : 30px;
        box-sizing      : border-box;
    }

    .tool-infos {
        width           : 100%;
        padding         : 4px;
    }
}