:root {
    --blackBarHeight: 55px;
}

#gui-editor-workbench-root {
    display: grid;
    grid-template-rows: calc(100% - 55px);
    height: 100%;
    width: 100%;
    background: #e2e2e2;
    font: 14px "acumin-pro-condensed";   
}

.wait-screen {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background: #464646;
    opacity: 0.95;
    color:white;
    font: 24px "acumin-pro-condensed";  
    position: absolute;
    top: 0;
    left: 0; 

    &.hidden {
        visibility: hidden;
    }
}

#leftGrab {
    grid-row: 1 / span 2;
    grid-column: 2;
    cursor: ew-resize;
}

#rightGrab {
    grid-row: 1 / span 2;
    grid-column: 5;
    cursor: ew-resize;
}


#toolbarGrab {
    background: #333333;
    grid-row: 1 / span 3;
    grid-column: 3;
    height: 100%;

    .blackLine {
        height:  5px;
        background: black;
    }
    .toolbar-label {
        color:white;
        font-size: 18px;
        display: grid;
        align-items: center;
        cursor: pointer;
        user-select: none;
        grid-template-columns: 1fr 20px;
        grid-template-rows: 100%;
        position: relative;

        &.active {
            font-weight: bold;
            font-size: 20px;
        }

        &:hover {
            background: var(--selectionGrey);
            .sub-items {
                display: block;
            }
        } 
    }
    .toolbar-icon {
        width: 40px;
        height: 40px;
    }
}

.diagram-container {
    position: relative;
    display: grid;
    grid-row: 1;
    grid-column: 4;
    background: #CCCCCC;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .diagram {
        display: none;
        width: 100%;
        height: 100%;
    }
}

.right-panel {
    grid-row: 1 / span 2;
    grid-column: 6;
    display: grid;
    grid-template-rows: 1fr 40px auto 40px;
    grid-template-columns: 100%;
    height: calc(100% - var(--blackBarHeight));
    overflow-y: auto;

    #propertyTab {
        grid-row: 1;
        grid-column: 1;
    }        
    
    .button {
        display: grid;
        justify-content: center;
        align-content: center;
        height: auto;
        width: calc(100% / 7);
        cursor: pointer;

        &:hover {
            background: rgb(51, 122, 183);
            color: white;
            opacity: 0.8;
        }

        &.selected {
            background: rgb(51, 122, 183);
            color: white;
        }
        
        &.align {
            justify-content: stretch;
            text-align: center;
        }
    }    
}

.blocker {
    visibility: hidden;
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    top: 0;
    left: 0;

    background: rgba(20, 20, 20, 0.95);    
    font-family: "acumin-pro-condensed";
    color: white;
    font-size: 24px;

    display: grid;
    align-content: center;
    justify-content: center;

    user-select: none;

    padding: 20px;
    text-align: center;
}

#log-console {
    grid-row: 2;
    grid-column: 4;
    display: none;
}

.dialog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0.1, 0.1, 0.1, 0.6);
    display: grid;
    font-family: "acumin-pro-condensed";
    top:0;
    z-index: 4;

    .dialog {
        align-self: center;
        justify-self: center;
        min-height: 140px;
        max-width: 400px;
        border-radius: 10px;
        background: white;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: calc(100% - 50px) 50px;

        .dialog-message {
            grid-row: 1;
            grid-column: 1;
            margin-top: 20px;
            padding: 10px;
            font-size: 18px;
            color: black;
        }

        .dialog-buttons {
            grid-row: 2;
            grid-column: 1;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: 100%;
            color: white;

            .dialog-button-ok {
                cursor: pointer;
                justify-self: center;
                background:green;
                min-width: 80px;
                justify-content: center;
                display: grid;
                align-content: center;
                align-self: center;
                height: 35px;      
                border-radius: 10px;

                &:hover {
                    opacity: 0.8;
                }

                &.error {
                    background: red;
                }
            }
        }
    }
}
.gizmo {
    .bounding-box-line {
        background-color: black;
        position: absolute;
        line-height: 1px;
        height: 1px;
        pointer-events: none;
    }
    .scale-point-container {
        position: absolute;
        width: 30px;
        height: 30px;
        .scale-point {
            top: 10px;
            left: 10px;
            position: absolute;
            width: 10px;
            height: 10px;
            background: transparent;
            outline: rgb(125, 125, 125) 2px solid;
        }
        .rotate-click-area {
            width: 20px;
            height: 20px;
            position: absolute;
        }
        .scale-click-area {
            width: 20px;
            height: 20px;
            position: absolute;
        }
    }
    .pivot-point {
        width: 30px;
        height: 30px;
        background: transparent;
        position: absolute;
    }
}
#workbench-canvas {
    position: relative;
}
.artboard-stroke {
    outline: 1px solid black;
    position: absolute;
    z-index: 5;
    pointer-events: none;
}
.artboard-background {
    position: absolute;
    background: repeating-conic-gradient(#E2E2E2 0% 25%, white 0% 50%) 
    50% / 20px 20px;
    width: 100%;
    height: 100%;
}