$line-padding-left: 2px;

/* Note: partial duplicated styling copied from actionTabs.scss */

#metadata-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #333333;
    color: white;
    font-family: "acumin-pro-condensed";

    #main-controls {
        display: inline-flex;
        justify-content: flex-start;
        width: 100%;

        .checkBoxLine {
            width: 22%;
        }

        .buttonLine {
            width: 78%;
        }
    }

    #footer {
        padding-bottom: 10px;
    }

    .pane {
        padding: 10px;
    }

    .buttonLine {
        height: 30px;
        display: grid;
        align-items: center;
        justify-items: stretch;

        &.disabled {
            opacity: 20%;
            pointer-events: none;
        }

        button {
            background: #222222;
            border: 1px solid rgb(51, 122, 183);
            margin: 5px 10px 5px 10px;
            color: white;
            padding: 4px 5px;
            opacity: 0.9;
            cursor: pointer;
        }

        button:hover {
            opacity: 1;
        }

        button:active {
            background: #282828;
        }

        button:focus {
            border: 1px solid rgb(51, 122, 183);
            outline: 0;
        }
    }

    .checkBoxLine {
        padding-left: $line-padding-left;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr auto;

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .checkBox {
            grid-column: 2;

            display: flex;
            align-items: center;

            .lbl {
                position: relative;
                display: block;
                height: 14px;
                width: 34px;
                margin-right: 5px;
                background: #898989;
                border-radius: 100px;
                cursor: pointer;
                transition: all 0.3s ease;

                &.checked {
                    background: rgb(51, 122, 183);
                }
            }

            .lbl:after {
                position: absolute;
                left: 3px;
                top: 2px;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                background: #fff;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
                content: "";
                transition: all 0.15s ease;

                &.checked {
                    left: 20px;
                    background: rgb(22, 73, 117);
                }
            }

            .lbl.checked:after {
                position: absolute;
                top: 2px;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 100px;
                background: #fff;
                box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
                content: "";
                transition: all 0.15s ease;
                left: 20px;
                background: rgb(22, 73, 117);
            }

            .lbl:active:after {
                transform: scale(1.15, 0.85);
            }

            .hidden {
                display: none;
            }

            .icon {
                display: none;
            }
        }
    }

    .textInputArea {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;

        textarea {
            height: 100%;
            resize: none;
        }
    }

    .type-label {
        position: fixed;
        bottom: 85px;
        right: 45px;
        font-size: 22px;
        font-family: monospace;
        user-select: none;
        cursor: text;
    }

    .type-error {
        padding: 0 10px;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.meta-string {
    .textInputArea {
        textarea {
            background: #ffee99;
        }
    }
}

.meta-json {
    .textInputArea {
        textarea {
            background: #99ddff;
        }
    }
}
