.node {
    position: absolute;
    background-color: #666666;
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
}

.selected {
    border: 2px solid #ffffff;
}

.highlighted {
    border: 2px solid hsl(64, 100%, 61%);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
