.searchbar {
    
    border       : 1px solid $background-lighter;
    margin-bottom: 5px;
    display      : flex;
    align-items  : center;
    color:darken($color, 10%);
    
    input {
        background-color: $background;
        border          : none;
        width           : 100%;
        outline         : none;
        font-family     : $font;
        color           : darken($color, 10%);
        padding         : 3px 0 3px 10px;
        margin          : 6px 0 6px 0;
    }
}