.tab-panel {
    height:100%;

    &.searchable {
        height:calc(100% - #{$searchbar-height} - 10px);   
    }  

    .texture-image {
        max-height:400px;
    }
    
    .scene-actions {
        overflow-y: auto;
        padding-left: 5px;
        
        // Action title : Textures/Options/Viewer
        .actions-title {
            font-size     : 1.1em;
            padding-bottom: 10px;
            border-bottom : 1px solid $color-bot;
            margin        : 10px 0 10px 0;
        }

        .defaut-action {            
            height     : 20px;
            line-height: 20px;
            width      : 100%;
            cursor     : pointer;   
            
            &:hover {
                background-color:$background-lighter;
            }
            &:active {                
                background-color: $background-lighter2;
            }
        }

        // Radio button
        .action-radio {
            @extend .defaut-action;
            &:before {
                width      : 1em;
                height     : 1em;
                line-height: 1em;
                display    : inline-block;
                font-family: 'FontAwesome', sans-serif;
                content    : "\f10c";
                margin-right:10px;
            }
            // radio button active
            &.active {
                &:before {
                    width      : 1em;
                    height     : 1em;
                    line-height: 1em;
                    display    : inline-block;
                    font-family: 'FontAwesome', sans-serif;
                    content    : "\f192";
                    color      : $color-bot;
                    margin-right:10px;
                }
            }
        }

        // Check button
        .action {             
            @extend .defaut-action;
            &:before {
                width      : 1em;
                height     : 1em;
                line-height: 1em;
                display    : inline-block;
                font-family: 'FontAwesome', sans-serif;
                content    : "\f096";
                margin-right:10px;
            }
                
            &.active {
                &:before {
                    width      : 1em;
                    height     : 1em;
                    line-height: 1em;
                    display    : inline-block;
                    font-family: 'FontAwesome', sans-serif;
                    content    : "\f14a";
                    color      : $color-bot;
                    margin-right:10px;
                }
            }
        }
    }
}