/**
 * The toolbar contains : 
 * - a refresh tool - refresh the whole panel
 * - a popup tool - Open the inspector in a new panel
 * ...
 */   
.toolbar {   
    display:flex;
     
    .tool {
        width          : $tabbar-height;
        height         : $tabbar-height;
        display        : flex;
        justify-content: center;
        align-items    : center;
        cursor         : pointer;
        position       : relative;
        border-right   : 1px solid $background-lighter2;
        &:hover {
            background-color: $background-lighter2;
        }
        &:active {
            color:$color-top;
            background-color: $background-lighter3;
        }
        // This tool is activated
        &.active {
            color:$color-top;
        }
    }
}