// Tooltip used when hovering on divisions

.tooltip {
    position        : absolute;
    top             : 0;
    right           : 0;
    color           : $color-top;
    display         : none;
    z-index         : 4;
    font-family     : $font;
    
    
    // width        : 120px;
    padding         : 2px;
    // line-height  : 25px;
    background-color: $background;
    border          : 1px solid $background-lighter3;
}