/**
 * A tool contained in the tree panel (available for each item of the tree)
 */
.treeTool {
    margin : 3px 8px 3px 3px;
    cursor:pointer;
    position:relative;
   
    &:hover {        
        color:$color-bot;
    }
    
    &.active {
        color:$color-bot;
    }
}