.mesh-block {
    margin-top: 30px;
    grid-row: 2;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
