<style>
    @font-face {
        font-family: 'babylon';
        src: url('{{babylonFont}}') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .icon {
        font-family: "babylon";
    }

    fullscreen-container {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        /* align items in Main Axis */
        align-items: stretch;
        /* align items in Cross Axis */
        align-content: stretch;
        /* Extra space in Cross Axis */
    }

    fullscreen-container>* {
        flex: 1 1 auto;
        flex-direction: row;

        justify-content: flex-start;
        /* align items in Main Axis */
        align-items: stretch;
        /* align items in Cross Axis */
        align-content: stretch;
        /* Extra space in Cross Axis */
    }

    html,
    body {
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 0;
    }
</style>

<fullscreen-container></fullscreen-container>