#fgeNodeList {
    background: #333333;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    overflow: hidden;

    .panes {
        overflow: hidden;

        .pane {
            color: white;

            overflow: hidden;
            height: 100%;

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .filter {
                display: flex;
                align-items: stretch;

                input {
                    width: 100%;
                    margin: 10px 10px 5px 10px;
                    display: block;
                    border: none;
                    padding: 0;
                    border-bottom: solid 1px rgb(51, 183, 102);
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(51, 183, 102) 4%);
                    background-position: -1000px 0;
                    background-size: 1000px 100%;
                    background-repeat: no-repeat;
                    color: white;
                }

                input:focus {
                    box-shadow: none;
                    outline: none;
                    background-position: 0 0;
                }

                input::placeholder {
                    color: gray;
                }
            }

            .list-container {
                overflow-x: hidden;
                overflow-y: auto;
                height: calc(100% - 32px);

                .underline {
                    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
                }

                .draggableLine {
                    height: 30px;
                    display: grid;
                    align-items: center;
                    padding-left: 10px;
                    cursor: grab;
                    font-size: 12px;

                    &:hover {
                        background: rgba(51, 183, 102, 0.3);
                    }
                }
            }
        }
    }
}
