
#animation-curve-editor {

    .header{
        display: flex;
        padding: 9px;
        background: black;
        color: white;
        height: 1.3em;
        justify-content: space-between;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        .title{  text-transform: uppercase; }

        .close {
            grid-column: 2;
            display: grid;
            align-items: center;   
            justify-items: center;
            cursor: pointer;     
        }   
    }

    .content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .animation-list{
            padding: 1.5rem;
            background: lightgrey;
            height: 100vh;
            ul {
                list-style:none;
                padding-left: 0px;
                li {
                    cursor: pointer;
                    &:before {
                        content: '';
                        display: inline-block;
                        height: 1em;
                        width: 1em;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right:0.5em; 
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="far" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"/></svg>'); 
                    }
                   
                   }
                }
                li.active {
                    cursor: pointer;
                    &:before{
                        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="svg-inline--fa fa-check-circle fa-w-16" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/></svg>'); 
                    }
                
                
            }
        }

        .graph-chart{
            flex: 1 1 0%;
            margin: 25% auto;
            padding-left: 32px;
            .linear{
                width: 300px;
                height: 300px;
                overflow: visible;
                background-color: 'aliceblue';
            }
        }
    }

}