.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.ListItem {
    width: 150px;
    height: 100px;
    background-color: #808080;
    text-shadow: black 0.1em 0.1em 0.2em;
    padding: 5px 10px;
}

#babylonScenesListView {
    height: 100%;
    margin: 0px 10px;
}

.sandbox {
    background-image: none;
    background-color: #330066;
}