html, body, canvas {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #272822;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    touch-action: none;
}

#fpsLabel {
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: default;
    color: white;
}

#link {
    position: absolute;
    width: 100%;
    bottom: 10px;
    cursor: default;
    color: white;
    text-align: center;
    left:0;
    cursor:pointer;
}

#refresh {
    position: absolute;
    width: 100%;
    top: 10px;
    cursor: default;
    color: white;
    text-align: center;
    left:0;
    cursor:pointer;
}