:root {
    --backgroundGrey: #aaaaaa;
    --spacingHeight: 30px;
    --button: #333333;
    --buttonBackground: #ffffff;
    --buttonDisabledBackground: #c8c8c8;
    --disabledBackground: #c8c8c8;
    --buttonPressed: #ffffff;
    --buttonPressedBackground: #606060;
    --buttonHoverBackground: #afafaf;
}

#ge-propertyTab {
    user-select: none;
    $line-padding-left: 5px;
    $line-padding-bottom: 0px;
    $line-padding-top: 0px;
    $line-padding-right: 18px;
    color: black;
    background: #e2e2e2;
    * {
        font-family: "acumin-pro-condensed", sans-serif;
        font-size: 12px;
    }
    #header {
        height: 32px;
        font-size: 16px;
        color: white;
        background: white;
        grid-row: 1;
        text-align: center;
        display: grid;
        grid-template-columns: 30px 1fr;
        user-select: none;

        #logo {
            position: relative;
            grid-column: 1;
            width: 32px;
            height: 32px;
            left: 0;
            display: flex;
            align-self: center;
            justify-self: center;
            filter: invert(1);
        }

        #title {
            background: white;
            color: black;
            grid-column: 2;
            display: grid;
            align-items: center;
            text-align: center;
        }
    }

    .copy {
        display: none;
    }

    .range {
        -webkit-appearance: none;
        width: 100%;
        height: 2px;
        background: #bcbcbc;
        border-radius: 5px;
        outline: none;
        opacity: 0.7;
        transition: opacity 0.2s;
        padding: 0;
    }

    .range:hover {
        opacity: 1;
    }

    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #e2e2e2;
        border: solid;
        border-width: thin;
        cursor: pointer;
    }

    .range::-moz-range-thumb {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: rgb(0, 0, 0);
        cursor: pointer;
    }

    input[type="color"] {
        -webkit-appearance: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0;
        width: 30px;
        height: 20px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
        border: none;
    }

    hr {
        border: 1px solid #d0cece;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .unit {
        width: 26px;
        height: 26px;
        color: var(--button);
        background-color: var(--buttonBackground);
        border: none;
        margin-top: 2px;
        cursor: pointer;
        margin-left: 2px;
        font-family: "atten-round-new", sans-serif;
        font-weight: 500;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .unit:disabled {
        background-color: var(--buttonDisabledBackground);
        cursor: not-allowed;
    }

    .unit:not(:disabled):hover {
        background-color: var(--buttonHoverBackground);
    }

    .unit:not(:disabled):active {
        color: var(--buttonPressed);
        background-color: var(--buttonPressedBackground);
    }

    input,
    select {
        outline-style: solid;
        outline-width: 0px;
        outline-color: transparent;
        outline-offset: -1px;
        outline-width: 1px;
        transition: outline-color 0.2s;
        border: transparent;
        padding-left: 5px;

        &:focus {
            outline-width: 1px;
            outline-color: black;
        }
    }

    .hasArrows input::-webkit-outer-spin-button,
    .hasArrows input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .sliderLine {
        height: var(--spacingHeight);
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: auto 1fr 20px 1fr;
        flex-grow: 1;

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
            min-width: 15px;
            font-weight: 600;
        }

        .img {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .slider {
            grid-column: 4;
            grid-row: 1;
            margin-right: 5px;
            display: flex;
            align-items: center;
            padding-left: 5px;
        }

        .floatLine {
            grid-column: 2;
            padding-left: 0px;
            grid-template-columns: 1fr auto;

            .label {
                grid-column: 1;
                display: none;
                align-items: center;
                font-weight: 600;
            }

            .short {
                grid-column: 1;
                display: flex;
                align-items: center;

                input {
                    width: 100%;
                    background-color: white;
                    height: 24px;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input[type="number"] {
                    -webkit-appearance: textfield;
                    appearance: textfield;
                }
            }

            .copy {
                display: none;
            }
        }

        .copy {
            display: none;
        }
    }

    .ge-divider {
        padding-right: $line-padding-right;
        padding-left: 5px;
        display: grid;
        grid-template-columns: auto 1fr;
        padding-top: 1px;
        padding-bottom: 1px;

        > .textLine + .command-button {
            margin-top: -3px;
            grid-column: 5;
        }
    }
    .ge-divider.double {
        display: grid;
        grid-template-columns: auto 1fr 5px 1fr;
        > .textInputLine,
        > .floatLine {
            &:first-of-type {
                grid-column: 2;
            }
            &:nth-of-type(2) {
                grid-column: 4;
            }
        }
        > .command-button {
            grid-column: 5;
            margin-left: 5px;
        }
    }
    .ge-divider.quad {
        display: grid;
        grid-template-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
        > .textInputLine,
        > .floatLine {
            &:first-of-type {
                grid-column: 1;
            }
            &:nth-of-type(2) {
                grid-column: 3;
            }
            &:nth-of-type(3) {
                grid-column: 5;
            }
            &:nth-of-type(4) {
                grid-column: 7;
            }
        }
    }
    .ge-grid-divider {
        display: grid;
        grid-template-columns: 150px 1fr auto;

        .textLine {
            grid-column: auto;
        }
    }

    .ge-grid-button-divider {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px;
    }

    .ge-grid-remove {
        display: grid;
        background-color: #c2c2c2;
        margin-bottom: 5px;
        filter: invert(1);
    }

    .ge-grid-edit {
        display: grid;
        background-color: #878787;
        margin-bottom: 5px;
        filter: invert(1);
    }

    .ge-grid {
        display: grid;
        margin-bottom: 5px;
    }

    .ge-divider.double .textInputLine {
        grid-template-columns: auto auto 1fr auto;
    }

    .textInputLine,
    .floatLine {
        user-select: none;
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        height: var(--spacingHeight);
        display: grid;
        grid-template-columns: auto auto 1fr;
        flex-grow: 1;
        .label {
            grid-column: 2;
            display: flex;
            align-items: center;
            min-width: 15px;
            font-weight: 600;
        }

        .disabled {
            color: var(--backgroundGrey);
            background-color: var(--disabledBackground);
        }

        img {
            width: 30px;
        }

        .img {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .value {
            display: flex;
            align-items: center;
            grid-column: 3;
            background: transparent;
            height: 26px;
            position: relative;
            background-color: white;
            margin-top: 2px;
            overflow-y: hidden;
            input {
                width: 100%;
                height: 24px;
                color: #333333;
            }
            input.hasArrows {
                padding-right: 15px;
            }
            .arrows {
                display: none;
                position: absolute;
                right: 0;
                flex-direction: column;
                cursor: grab;
                .downArrowIcon,
                .upArrowIcon {
                    width: 13px;
                    height: 13px;
                }
            }
            &:hover .arrows,
            &:focus .arrows,
            &.dragging .arrows {
                display: flex;
            }
            .arrows:hover {
                background-color: var(--buttonHoverBackground);
            }
            &.dragging .arrows {
                background-color: var(--buttonPressedBackground);
                .downArrowIcon,
                .upArrowIcon {
                    filter: brightness(10);
                }
            }
        }

        .copy {
            display: none;
        }
    }

    .textInputLine.withUnits {
        grid-template-columns: auto auto 1fr auto;
    }

    .textInputArea {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 120px;

        .disabled {
            color: var(--backgroundGrey);
            background-color: var(--disabledBackground);
        }

        .label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .value {
            display: flex;
            align-items: center;
            grid-column: 2;

            textarea {
                width: calc(150% - 5px);
                margin-left: -50%;
                height: 40px;
            }
        }
    }

    .paneContainer {
        margin-top: 3px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;

        .paneList {
            border-left: 3px solid transparent;
        }

        &:hover {
            .paneList {
                border-left: 3px solid rgba(51, 122, 183, 0.8);
            }

            .paneContainer-content {
                .header {
                    .title {
                        border-left: 3px solid rgb(51, 122, 183);
                    }
                }
            }
        }

        .paneContainer-highlight-border {
            grid-row: 1;
            grid-column: 1;
            opacity: 1;
            border: 3px solid red;
            transition: opacity 250ms;
            pointer-events: none;

            &.transparent {
                opacity: 0;
            }
        }

        .paneContainer-content {
            grid-row: 1;
            grid-column: 1;

            .header {
                display: grid;
                grid-template-columns: 1fr auto;
                background: #cccccc;
                height: var(--spacingHeight);
                padding-bottom: $line-padding-bottom;
                padding-top: $line-padding-top;
                padding-right: 5px;
                cursor: pointer;

                .title {
                    border-left: 3px solid transparent;
                    padding-left: 5px;
                    grid-column: 1;
                    display: flex;
                    align-items: center;
                }

                .collapse {
                    grid-column: 2;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    transform-origin: center;

                    &.closed {
                        transform: rotate(180deg);
                    }
                }
            }

            .paneList > div:not(:last-child) {
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
            }

            .fragment > div:not(:last-child) {
                border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
            }
        }
    }

    .color-picker {
        height: 26px;
        width: 26px;

        .color-rect-background {
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            border: 1px black solid;
            cursor: pointer;
            background: repeating-conic-gradient(#e2e2e2 0% 25%, white 0% 50%) 50% / 100% 100%;
            .color-rect {
                height: 100%;
            }
        }

        .color-picker-cover {
            z-index: 2;
            position: fixed;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .color-picker-float {
            position: absolute;
            outline: 1px solid black;
        }

        .color-picker-container {
            background-color: #e2e2e2;
        }
    }

    .gradient-step {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20px 30px 40px auto 20px 30px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;

        .step {
            grid-row: 1;
            grid-column: 1;
        }

        .color {
            grid-row: 1;
            grid-column: 2;
            cursor: pointer;
        }

        .step-value {
            margin-left: 5px;
            grid-row: 1;
            grid-column: 3;
            text-align: right;
            margin-right: 5px;
        }

        .step-slider {
            grid-row: 1;
            grid-column: 4;
            display: grid;
            justify-content: stretch;
            align-content: center;
            margin-right: -5px;
            padding-left: 12px;

            input {
                width: 90%;
            }
        }

        .gradient-copy {
            grid-row: 1;
            grid-column: 5;
            display: grid;
            align-content: center;
            justify-content: center;

            .img {
                height: 20px;
                width: 20px;
            }
            .img:hover {
                cursor: pointer;
            }
        }
        .gradient-delete {
            grid-row: 1;
            grid-column: 6;
            display: grid;
            align-content: center;
            justify-content: center;
            .img {
                height: 20px;
                width: 20px;
            }
            .img:hover {
                cursor: pointer;
            }
        }
    }

    .alignment-bar {
        display: flex;
        justify-content: center;
        padding-right: 5px;
    }

    .command-button {
        cursor: pointer;
        width: 30px;

        .command-label {
            display: none;
        }

        .command-button-icon {
            height: 100%;
            width: 100%;
            display: grid;
            color: white;
            align-content: center;
            justify-content: center;
        }

        &:hover {
            background-color: white;
        }

        .active {
            transform-origin: center;
            background-color: white;
        }

        img {
            &.active {
                background-color: white;
            }
        }

        &.disabled {
            background-color: var(--buttonDisabledBackground);
            pointer-events: none;
        }
    }

    .command-button-alt {
        cursor: pointer;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        .command-label {
            display: none;
        }

        .command-button-icon {
            height: 100%;
            width: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
        }
        &:hover {
            background-color: #c2c2c2;
            filter: invert(1);
        }
    }

    .command-button-alt-disabled {
        cursor: pointer;
        pointer-events: none;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        .command-label {
            display: none;
        }

        .command-button-icon {
            height: 100%;
            width: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
        }

        img {
            filter: invert(1);
        }
    }

    .command-button-alt-active {
        cursor: pointer;
        pointer-events: none;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #c2c2c2;
        filter: invert(1);
        .command-label {
            display: none;
        }

        .command-button-icon {
            height: 100%;
            width: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
        }
    }

    .floatLine {
        user-select: none;
        height: var(--spacingHeight);
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        display: grid;
        grid-template-columns: auto auto 2fr auto;
        flex-grow: 1;

        .label {
            grid-column: 2;
            display: flex;
            align-items: center;
            min-width: 15px;
            font-weight: 600;
        }

        img {
            width: 30px;
        }

        .img {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .value {
            display: flex;
            align-items: center;
            grid-column: 3;
            background: transparent;
            height: 26px;
            input {
                width: 100%;
                background-color: white;
                height: 24px;
            }
        }

        .short {
            grid-column: 2;

            display: flex;
            align-items: center;

            input {
                width: 100%;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        .copy {
            display: none;
        }
    }

    .vector3Line {
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        display: grid;
        .firstLine {
            display: grid;
            grid-template-columns: 1fr auto 20px;
            height: var(--spacingHeight);

            .label {
                grid-column: 1;
                display: flex;
                align-items: center;
            }

            .vector {
                grid-column: 2;
                display: flex;
                align-items: center;
                text-align: right;
                opacity: 0.8;
            }

            .expand {
                grid-column: 3;
                display: grid;
                align-items: center;
                justify-items: center;
                cursor: pointer;
            }

            .copy {
                display: none;
            }
        }

        .secondLine {
            display: grid;
            padding-right: 5px;
            border-left: 1px solid rgb(51, 122, 183);

            .no-right-margin {
                margin-right: 0;
            }

            .numeric {
                display: grid;
                grid-template-columns: 1fr auto;
            }

            .numeric-label {
                text-align: right;
                grid-column: 1;
                display: flex;
                align-items: center;
                justify-self: right;
                margin-right: 10px;
            }

            .numeric-value {
                width: 120px;
                grid-column: 2;
                display: flex;
                align-items: center;
                border: 1px solid rgb(51, 122, 183);
            }
        }
    }

    .buttonLine {
        height: var(--spacingHeight);
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        display: grid;
        align-items: center;
        justify-items: stretch;
        padding-bottom: 5px;
        input[type="file"] {
            display: none;
        }

        .file-upload {
            background: var(--backgroundGrey);
            border: 1px solid #424242;
            margin: 5px 10px;
            color: white;
            padding: 4px 5px;
            opacity: 0.9;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
        }

        .file-upload:hover {
            opacity: 1;
        }

        .file-upload:active {
            transform: scale(0.98);
            transform-origin: 0.5 0.5;
        }

        button {
            background: var(--backgroundGrey);
            border: 1px solid #424242;
            margin: 5px 10px 5px 10px;
            color: white;
            padding: 4px 5px;
            opacity: 0.9;
            border-radius: 4px;
        }

        button:hover {
            opacity: 1;
        }

        button:active {
            background: #282828;
        }

        button:focus {
            border: 1px solid #424242;
            outline: 0px;
        }
    }

    .numeric {
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        height: var(--spacingHeight);
        display: grid;
        grid-template-columns: 1fr 120px auto;

        .numeric-label {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .number {
            display: flex;
            align-items: center;
            grid-column: 2;
            height: 10px;
            .input {
                width: calc(100% - 5px);
                height: 10px;
            }
        }
    }

    .checkBoxLine {
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        height: var(--spacingHeight);
        display: grid;
        grid-template-columns: auto 1fr auto;
        flex-grow: 1;

        .label {
            grid-column: 2;
            display: flex;
            align-items: center;
            min-width: 100px;
            margin-left: 15px;
            height: var(--spacingHeight);
            font-weight: 600;
        }

        img {
            width: 30px;
        }

        .img {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .hidden {
            display: none;
        }

        .copy {
            display: none;
        }
    }

    .listLine {
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        height: var(--spacingHeight);
        display: grid;
        grid-template-columns: auto 1fr auto;
        flex-grow: 1;

        .label {
            grid-column: 2;
            display: none;
            align-items: center;
        }

        img {
            width: 30px;
        }

        .img {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .options {
            grid-column: 2;
            padding-left: 15px;
            display: flex;
            align-items: center;

            select {
                width: 100%;
                height: 25px;
                border: transparent;
            }

            input {
                width: 100%;
                height: 24px;
                color: #333333;
            }
        }

        .copy {
            display: none;
        }
    }

    .color3Line {
        padding-left: 15px;
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        display: grid;
        flex-grow: 1;

        .firstLine {
            height: var(--spacingHeight);
            display: flex;
            align-items: center;

            .label {
                grid-column: 2;
                padding-left: 5px;
                display: none;
                align-items: center;
                min-width: 15px;
            }

            .img {
                grid-column: 1;
                display: flex;
                align-items: center;
            }

            img {
                width: 30px;
                height: 30px;
            }

            .textInputLine {
                grid-column: 3;
                padding-left: 2px;
                flex-grow: 1;
            }

            .color3 {
                display: flex;
                align-items: center;

                input {
                    margin-right: 5px;
                }
            }

            .expand {
                grid-column: 3;
                display: none;
                align-items: center;
                justify-items: center;
                cursor: pointer;

                img {
                    height: 100%;
                    width: 20px;
                }
            }

            .copy {
                grid-column: 4;
                display: none;
                align-items: center;
                justify-items: center;
                cursor: pointer;
                color: black;
                img {
                    height: 100%;
                    width: 20px;
                }
            }
        }

        .secondLine {
            display: grid;
            padding-right: 5px;
            border-left: 1px solid rgb(51, 122, 183);

            .numeric {
                display: grid;
                grid-template-columns: 1fr auto;
            }

            .numeric-label {
                text-align: right;
                grid-column: 1;
                display: flex;
                align-items: center;
                justify-self: right;
                margin-right: 10px;
            }

            .numeric-value {
                width: 120px;
                grid-column: 2;
                display: flex;
                align-items: center;
                border: 1px solid rgb(51, 122, 183);
            }
        }
    }

    .textLine {
        padding-left: $line-padding-left;
        padding-bottom: $line-padding-bottom;
        padding-top: $line-padding-top;
        padding-right: $line-padding-right;
        height: auto;
        display: grid;
        grid-template-columns: auto auto 2fr 1fr;
        .label {
            grid-column: 2;
            padding-left: 5px;
            padding-top: 4px;
            display: flex;
            align-items: left;
            min-width: 15px;
            color: #a9a9a9;
            font-size: 10px;
            font-family: "acumin-pro-semi-condensed", sans-serif;
            font-weight: 600;
        }

        img {
            width: 30px;
        }

        .img {
            grid-column: 1;
            display: flex;
            align-items: center;
        }

        .link-value {
            grid-column: 2;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: end;
            opacity: 0.8;
            margin: 5px;
            margin-top: 6px;
            max-width: 140px;
            text-decoration: underline;
            cursor: pointer;
        }

        .value {
            display: none;
            grid-column: 3;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: end;
            opacity: 0.8;
            margin: 5px;
            margin-top: 6px;
            max-width: 200px;
            user-select: text;

            &.check {
                color: green;
            }

            &.uncheck {
                color: red;
            }
        }
    }
}
