.appContainer {
    height: 100%;
}

.blocker {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(20, 20, 20, 0.95);
    color: white;
    font-size: 24px;
    display: none;
    align-content: center;
    justify-content: center;
    user-select: none;
    padding: 20px;
    text-align: center;
    z-index: 9999;
}

@media screen and (max-width: 899px) {
    .blocker {
        display: grid;
    }
}
