$drag-border-size: 5px;

.rowDragHandler {
    cursor: pointer;
    cursor: grab;
    cursor: row-resize;
    width: 100%;
    height: $drag-border-size;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.columnDragHandler {
    cursor: pointer;
    cursor: grab;
    cursor: col-resize;
    width: $drag-border-size;
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0px;
    top: 0px;
}