$tabLineWidth: 25px;
$tabLineBackgroundColor: rgb(77, 77, 77);
$tabContentBackgroundColor: rgb(214, 214, 214);

.rootContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: $tabLineWidth 1fr;
}

.tabsLineContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $tabLineBackgroundColor;
    grid-row: 1;
    justify-content: space-between;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.contentContainer {
    width: 100%;
    height: 100%;
    grid-row: 2;
    background-color: $tabContentBackgroundColor;
}
