.rootContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20px 1fr;
}

.tabsLineContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #e0e0e0;
    grid-row: 1;
    justify-content: space-between;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.dragIcon {
    cursor: pointer;
}

.tab {
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    background-color: rgb(77, 77, 77);
    border: 1px solid white;
    cursor: pointer;
}

.noSelect {
    user-select: none;
}

.tab:active {
    cursor: dragging;
}

.selectedTab {
    background-color: darkorchid;
}

.contentContainer {
    width: 100%;
    height: 100%;
    grid-row: 2;
}
